# Entorno virtual
venv/

# Config data
config.py

# Caché de Python
__pycache__/
*.py[cod]
*.pyc

# Variables de entorno
.env

# Logs
logs/
*.log
cierre_programaciones.log
error.log

# Archivos temporales
*.tmp
*.temp

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Uploads dinámicos
uploads/

# Reportes generados
reports/