{% extends "layout/base.html" %} {% block title %} Inicio - Turnos Bonin {%
endblock %} {% block content %}

<h2>Bienvenido nuevamente, {{ current_user.nombre }}</h2>
<table class="table table-light">
  <thead>
    <tr>
      <th>Roles asignados</th>
    </tr>
  </thead>
  <tbody>
    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %} {% for ur in usuario_roles %} {% for r in roles
    %} {% if current_user.id == ur.idUsuario and r.idRol == ur.idRol %}
    <tr>
      <td>{{ r.nombre }}</td>
    </tr>
    {% endif %} {% endfor %} {% endfor %}
  </tbody>
</table>

<div class="container__home">
  <div class="parent-module">
    <div class="module card h-100 bg-dark text-light">
      <i class="module__icon modul__icon-red bi bi-calendar2-week"></i>
      <div class="module__text card-body">
        <h5 class="card-title">Programación</h5>
        <p class="card-text">
          Módulo de programación, creación de programaciones, ver programaciones
          cerradas y abiertas.
        </p>
        <a
          href="/template/programacion/programaciones_general"
          class="btn btn-danger mt-3 text-align-center"
        >
          Ir a módulo
        </a>
      </div>
    </div>
    <div class="module card h-100 bg-dark text-light">
      <i class="module__icon modul__icon-green bi bi-card-checklist"></i>
      <div class="module__text card-body">
        <h5 class="card-title">Autorización de horas extra</h5>
        <p class="card-text">
          Módulo de autorización de horas extras, autorizar horas, ver
          diferencias, generar reportes
        </p>
        <a
          href="/template/autorizacion/parametros_autorizacion_horas"
          class="btn btn-success mt-3"
        >
          Ir a módulo
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
