{% extends "layout/base.html" %} {% block title %} Centros de costo - Turnos
Bonin {% endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Centros de costo</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}
    <div id="tabla-centros-de-costo"></div>

    <!-- Create Modal -->
    <div class="modal fade" id="createModal" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel">
              Creación de centro de costo
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% include "centro_de_costo/formCreacionCentroCosto.html" %}
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    {% for cdc in centros_de_costo %}
    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal{{ cdc.idCentro }}"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">
              Editar centro de costo
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="form"
              role="form"
              action="/web/centro_de_costo/editarCentro_de_costo_web"
              method="POST"
            >
              <div class="form-group">
                <label hidden for="idCentro">ID del centro de costo</label>
                <input
                  type="number"
                  class="form-control"
                  id="idCentro"
                  name="idCentro"
                  title="ID del centro de costo"
                  min="1"
                  required
                  value="{{ cdc.idCentro }}"
                  readonly
                  hidden
                />
              </div>

              <div class="form-group">
                <label for="nombreCentro">Nombre del centro de costo</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombreCentro"
                  name="nombreCentro"
                  title="Nombre del centro de costo"
                  min="1"
                  required
                  value="{{ cdc.nombreCentro }}"
                />
              </div>

              <div class="form-group">
                <label for="idDepartment"
                  >Departamento al que corresponde el centro de costo</label
                >
                <select
                  type="text"
                  class="form-control"
                  id="idDepartment"
                  name="idDepartment"
                  title="Departamento al que corresponde el centro de costo"
                  required
                >
                  <option disabled value="{{ None }}">
                    -- Seleccione una opción --
                  </option>

                  {% for d in departamentos %} {% if d.idDepartment ==
                  cdc.idDepartment %}
                  <option value="{{ d.idDepartment }}" selected>
                    {{ d.name }}
                  </option>
                  {% else %}
                  <option value="{{ d.idDepartment }}">{{ d.name }}</option>
                  {% endif %} {% endfor %}
                </select>
              </div>

              <hr />
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg m-1"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="submit"
                  class="btn btn-success btn-lg btn-block m-1"
                >
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal{{ cdc.idCentro }}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Eliminar línea
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que quiere eliminar el registro {{ cdc.idCentro }}?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <form
              action="/web/centro_de_costo/eliminarCentro_de_costo_web"
              method="POST"
            >
              <input
                type="number"
                value="{{cdc.idCentro}}"
                name="idCentro"
                hidden
              />
              <button type="submit" class="btn btn-danger btn-lg">
                Eliminar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% block scripts %} {% include "layout/includes/tabulator.html" %} {% endblock
%}
<script>
  let departamentosTable = {};
  let departamentosFilters = {};

  departamentosFilters[""] = "Todos";

  async function cargarCatalogos() {
    const [departamentosResponse] = await Promise.all([
      fetch(`/json/departamento/get_departamentos_aplica_horas_extra`),
    ]);

    const departamentosData = await departamentosResponse.json();

    departamentosData.forEach((d) => {
      departamentosTable[d.idDepartment] = {
        name: d.name,
        nameSlug: d.nameSlug,
        dept_color: d.dept_color ?? "",
      };

      departamentosFilters[d.nameSlug] = d.name;
    });
  }

  (async function () {
    await cargarCatalogos();
    cargarTableCentros();
  })();

  function cargarTableCentros() {
    const tableCentros = new Tabulator("#tabla-centros-de-costo", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: `/json/centro_de_costo/get_centros_de_costo`,
      ajaxConfig: "GET",
      columns: [
        {
          title: "ID",
          field: "idCentro",
          editor: false,
          width: 60,

          headerFilter: "number",

          headerFilterFunc: function (filterValue, cellValue) {
            return String(cellValue || "")
              .toLowerCase()
              .includes(String(filterValue.toLowerCase()));
          },
        },
        {
          title: "Nombre del centro de costo",
          field: "nombreCentro",
          editor: false,
          widthGrow: 4,

          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (cellValue || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Departamento al que corresponde",
          field: "idDepartment",
          editor: false,
          headerFilter: "list",
          headerFilterParams: {
            values: departamentosFilters,
          },

          formatter: function (cell) {
            const dept = departamentosTable[cell.getValue()];
            return dept ? dept.name : "";
          },

          headerFilterFunc: function (filterValue, cellValue) {
            const dept = departamentosTable[cellValue];
            return dept && dept.nameSlug === filterValue;
          },
        },
        {
          title: "Acciones",
          hozAlign: "center",
          width: 225,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <div class="d-flex gap-3 justify-content-center">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal${data.idCentro}"
                >
                  <img src="/static/img/edit-icon.png" height="15px" width="15px" />
                  <strong>Editar</strong>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal${data.idCentro}"
                >
                  <img
                    src="/static/img/delete-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Eliminar</strong>
                </button>
              </div>
            `;
          },
        },
      ],
    });
  }
</script>

{% endblock %}
