{% extends "layout/base.html" %} {% block title %} Crear usuario - Turnos Bonin
{% endblock %} {% block content %}

<div class="">
  <!-- <div class="btn-group d-flex crud-control">
    <a href="#" class="btn btn-dark active">Crear</a>
    <a href="#" class="btn btn-dark">Editar</a>
    <a href="#" class="btn btn-dark">Eliminar</a>
  </div> -->
  <hr class="mb-5" />

  <!-- form card cc payment -->
  <div class="card card-outline-secondary bg-dark text-light">
    <div class="card-body">
      <h3 class="text-left">Crear usuario</h3>
      <hr />

      {% with messages = get_flashed_messages(with_categories=true) %} {% for
      category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endwith %}

      <form
        class="form"
        role="form"
        action="/web/usuario/crearUsuario_web"
        method="POST"
      >
        <div class="form-group">
          <label hidden for="idUsuario">ID del usuario</label>
          <input
            type="number"
            class="form-control"
            id="idUsuario"
            name="idUsuario"
            title="ID del usuario"
            min="1"
            hidden
          />
        </div>

        <div class="form-group">
          <label for="username">Username del usuario</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            title="Username del usuario"
            required
          />
        </div>

        <div class="form-group">
          <label for="nombre">Nombre completo del usuario</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            title="Nombre completo del usuario"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            title="Contraseña del usuario"
            required
          />
        </div>

        <div class="form-group mt-3">
          <input type="hidden" name="activo_hidden" value="0" />
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              name="activo"
              id="activo"
              value="1"
            />
            <label class="form-check-label" for="activo">Activo</label>
          </div>
        </div>
        <hr />

        <p><strong>Características especiales del usuario</strong></p>
        <div class="form-group mt-3 ms-3">
          <input type="hidden" name="activo_hidden" value="0" />
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              name="scope_departamentos_global"
              id="scope_departamentos_global"
              value="1"
            />
            <label class="form-check-label" for="scope_departamentos_global"
              >Usuario de RRHH</label
            >
          </div>
        </div>

        <div class="form-group mt-3 ms-3">
          <input type="hidden" name="activo_hidden" value="0" />
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              name="scope_permisos_global"
              id="scope_permisos_global"
              value="1"
            />
            <label class="form-check-label" for="scope_permisos_global"
              >Usuario administrador</label
            >
          </div>
        </div>

        <hr />
        <div class="form-group row">
          <div class="col-md-6">
            <button type="reset" class="btn btn-light btn-lg btn-block">
              Borrar información
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-lg btn-block">
              Crear
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
