{% extends "layout/base.html" %} {% block title %} Usuarios - Turnos Bonin {%
endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Usuarios</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-usuarios"></div>

    {% for u in usuarios %}
    <div class="modal fade" id="passModal{{ u.idUsuario }}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Cambio de contraseña
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="form"
              role="form"
              action="/web/usuario/cambiarPasswordUsuario_web"
              method="POST"
            >
              <div class="form-group">
                <label hidden for="idUsuario">ID del usuario</label>
                <input
                  type="number"
                  class="form-control"
                  id="idUsuario"
                  name="idUsuario"
                  title="ID de la ruta"
                  min="1"
                  required
                  value="{{ u.idUsuario }}"
                  readonly
                  hidden
                />
              </div>
              <div class="form-group">
                <label for="password">Nueva contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  title="Nueva contraseña"
                  required
                />
              </div>
              <div class="form-group">
                <label for="confirmedPassword"
                  >Confirmar nueva contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmedPassword"
                  name="confirmedPassword"
                  title="Nueva contraseña"
                  required
                />
              </div>
              <hr />
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg ms-1"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>

                <button type="submit" class="btn btn-success btn-lg ms-1">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<form
  id="deleteRolForm"
  action="/web/usuario_rol/eliminarUsuario_Rol_web"
  method="POST"
>
  <input type="hidden" name="idUsuario" id="delete_idUsuario" />
  <input type="hidden" name="idUsuario" id="delete_idUsuario" />
</form>
<form
  id="deletePermisoForm"
  action="/web/usuario_permiso/eliminarUsuario_Permiso_web"
  method="POST"
>
  <input type="hidden" name="idUsuario" id="delete_idUsuarioP" />
  <input type="hidden" name="idPermiso" id="delete_idPermiso" />
</form>
<form
  id="deleteDepartamentoForm"
  action="/web/usuario_departamento/eliminarUsuario_Departamento_web"
  method="POST"
>
  <input type="hidden" name="idUsuario" id="delete_idUsuarioD" />
  <input type="hidden" name="idDepartment" id="delete_idDepartment" />
</form>

<!-- Create Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% include "usuario/formCrearUsuario.html" %}
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal Reutilizable -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/web/usuario/editarUsuario_web" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar usuario</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <input type="hidden" id="modal-idUsuario" name="idUsuario" />

          <div class="mb-3">
            <label>Username</label>
            <input
              type="text"
              class="form-control"
              id="modal-username"
              name="username"
              readonly
              required
            />
          </div>

          <div class="mb-3">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              id="modal-nombre"
              name="nombre"
              required
            />
          </div>

          <div class="mb-3 form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              id="modal-activo"
              role="switch"
              name="activo"
            />
            <label class="form-check-label" for="modal-activo">Activo</label>
          </div>

          <hr />

          <p><strong>Características especiales del usuario</strong></p>

          <div class="mb-3 form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              id="modal-scope_departamentos_global"
              role="switch"
              name="scope_departamentos_global"
            />
            <label
              class="form-check-label"
              for="modal-scope_departamentos_global"
              >Usuario de RRHH</label
            >
          </div>

          <div class="mb-3 form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              id="modal-scope_permisos_global"
              role="switch"
              name="scope_permisos_global"
            />
            <label class="form-check-label" for="modal-scope_permisos_global"
              >Usuario administrador</label
            >
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EditRoles Modal Reutilizable -->
<div class="modal fade" id="editRolesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Roles del usuario:
          <strong><span id="modal-nombre-usuario"></span></strong>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="tabla-roles-por-usuario" class="m-3"></div>

      <div class="modal-footer">
        <button id="btn-confirmar-roles" type="submit" class="btn btn-success">
          Confirmar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EditDepartments Modal Reutilizable -->
<div class="modal fade" id="editDepartmentsModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Departamentos que puede ver el usuario:
          <strong><span id="modalDepts-nombre-usuario"></span></strong>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="tabla-departamentos-por-usuario" class="m-3"></div>

      <div class="modal-footer">
        <button
          id="btn-confirmar-departamentos"
          type="submit"
          class="btn btn-success"
        >
          Confirmar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- EditPermissions Modal Reutilizable -->
<div class="modal fade" id="editPermissionModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Permisos del usuario:
          <strong><span id="modalPermisos-nombre-usuario"></span></strong>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="tabla-permisos-por-usuario" class="m-3"></div>

      <div class="modal-footer">
        <button
          id="btn-confirmar-permisos"
          type="submit"
          class="btn btn-success"
        >
          Confirmar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change Password Modal -->
<div
  class="modal fade"
  id="passModal"
  tabindex="-1"
  aria-labelledby="passModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        class="form"
        role="form"
        action="/web/usuario/cambiarPasswordUsuario_web"
        method="POST"
      >
        <div class="modal-header">
          <h5 class="modal-title" id="passModalLabel">
            Cambio de contraseña: <strong class="pass-mensaje"></strong>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label hidden for="idUsuario">ID del usuario</label>
            <input
              type="hidden"
              class="form-control"
              id="modalPass-idUsuario"
              name="idUsuario"
              hidden
            />
          </div>
          <div class="form-group">
            <label for="password">Nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              title="Nueva contraseña"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirmedPassword">Confirmar nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              id="confirmedPassword"
              name="confirmedPassword"
              title="Nueva contraseña"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-lg ms-1">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal Reutilizable -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/web/usuario/eliminarUsuario_web" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Usuario</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <input type="hidden" id="delete-idUsuario" name="idUsuario" />

          <p id="delete-mensaje"></p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% block scripts %} {% include "layout/includes/tabulator.html" %} {% endblock
%}
<script>
  (async function () {
    cargarTableUsuarios();
  })();

  function cargarTableUsuarios() {
    const tableUsuarios = new Tabulator("#tabla-usuarios", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: "/json/usuario/get_usuarios_details",
      ajaxConfig: "GET",

      columns: [
        {
          title: "Editar",
          hozAlign: "center",
          editor: false,
          width: 102,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar usuario"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                data-id="${data.idUsuario}"
                data-username="${data.username}"
                data-nombre="${data.nombre}"
                data-activo="${data.activo}"
                data-scope-departamentos-global="${data.scope_departamentos_global}"
                data-scope-permisos-global="${data.scope_permisos_global}"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                type="button"
                title="Reestablecer contraseña"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#passModal"
                data-id="${data.idUsuario}"
                data-nombre-rol="${data.nombre}"
              >
                <i class="bi bi-unlock2"></i>
              </button>
            `;
          },
        },
        {
          title: "ID",
          field: "idUsuario",
          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
        {
          title: "Nombre del usuario",
          field: "username",
          editor: false,

          formatter: "textarea",
          headerFilter: "input",
        },
        {
          title: "Nombre completo",
          field: "nombre",
          editor: false,

          formatter: "textarea",
          headerFilter: "input",
        },
        {
          title: "Activo",
          field: "activo",
          hozAlign: "center",
          editor: false,

          headerFilter: "list",
          headerFilterParams: {
            values: {
              "": "Todos",
              Sí: "Sí",
              No: "No",
            },
          },
        },
        {
          title: "Alcance total",
          field: "scope_departamentos_global",
          hozAlign: "center",
          editor: false,

          headerFilter: "list",
          headerFilterParams: {
            values: {
              "": "Todos",
              Sí: "Sí",
              No: "No",
            },
          },
        },
        {
          title: "Permiso total",
          field: "scope_permisos_global",
          hozAlign: "center",
          editor: false,

          headerFilter: "list",
          headerFilterParams: {
            values: {
              "": "Todos",
              Sí: "Sí",
              No: "No",
            },
          },
        },
        {
          title: "Pendiente reestablecer contraseña",
          field: "cambiar_password",
          hozAlign: "center",
          editor: false,

          headerFilter: "list",
          headerFilterParams: {
            values: {
              "": "Todos",
              Sí: "Sí",
              No: "No",
            },
          },
        },
        {
          title: "Roles",
          hozAlign: "center",
          width: 102,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar permisos del usuario"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#editRolesModal"
                data-id="${data.idUsuario}"
                data-nombre-usuario="${data.nombre}"
              >
                <i class="bi bi-person-badge"></i>
                <strong>Ver</strong>
              </button>
            `;
          },
        },
        {
          title: "Departamentos",
          hozAlign: "center",
          width: 150,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar departamentos del usuario"
                class="btn btn-dark"
                data-bs-toggle="modal"
                data-bs-target="#editDepartmentsModal"
                data-id="${data.idUsuario}"
                data-nombre-usuario="${data.nombre}"
              >
                <i class="bi bi-building"></i>
                <strong>Ver</strong>
              </button>
            `;
          },
        },
        {
          title: "Permisos",
          hozAlign: "center",
          width: 102,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar permisos del usuario"
                class="btn btn-light"
                data-bs-toggle="modal"
                data-bs-target="#editPermissionModal"
                data-id="${data.idUsuario}"
                data-nombre-usuario="${data.nombre}"
              >
                <i class="bi bi-person-lock"></i>
                <strong>Ver</strong>
              </button>
            `;
          },
        },
        {
          title: "Eliminar",
          hozAlign: "center",
          width: 97,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Eliminar usuario"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="${data.idUsuario}"
                data-nombre="${data.nombre}"
              >
                <i class="bi bi-trash3"></i>
              </button>
              `;
          },
        },
      ],
    });
  }

  /* EDIT MODAL */
  const editModal = document.getElementById("editModal");

  editModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.body.focus();

    document.getElementById("modal-idUsuario").value = button.dataset.id;

    document.getElementById("modal-username").value = button.dataset.username;

    document.getElementById("modal-nombre").value = button.dataset.nombre;

    const checkboxActivo = document.getElementById("modal-activo");
    if (button.dataset.activo === "Sí") {
      checkboxActivo.value = 1;
      checkboxActivo.checked = true;
    } else {
      checkboxActivo.value = 0;
      checkboxActivo.checked = false;
    }

    const checkboxScopeDept = document.getElementById(
      "modal-scope_departamentos_global",
    );
    if (button.dataset.scopeDepartamentosGlobal === "Sí") {
      checkboxScopeDept.value = 1;
      checkboxScopeDept.checked = true;
    } else {
      checkboxScopeDept.value = 0;
      checkboxScopeDept.checked = false;
    }

    const checkboxScopePermisos = document.getElementById(
      "modal-scope_permisos_global",
    );
    if (button.dataset.scopePermisosGlobal === "Sí") {
      checkboxScopePermisos.value = 1;
      checkboxScopePermisos.checked = true;
    } else {
      checkboxScopePermisos.value = 0;
      checkboxScopePermisos.checked = false;
    }
  });

  /* EDIT ROLES MODAL  */
  const editRolesModal = document.getElementById("editRolesModal");
  let tableRolesPorUsuario = null;
  let idUsuarioCambios;

  editRolesModal.addEventListener("show.bs.modal", async function (event) {
    if (tableRolesPorUsuario) {
      tableRolesPorUsuario = null;
      idUsuarioCambios = null;
    }
    document.body.focus();
    const button = event.relatedTarget;

    document.getElementById("modal-nombre-usuario").textContent =
      button.dataset.nombreUsuario;

    idUsuarioCambios = button.dataset.id;
    cargarTableRolesPorUsuario(button.dataset.id);
  });

  function cargarTableRolesPorUsuario(idUsuario) {
    if (!tableRolesPorUsuario) {
      tableRolesPorUsuario = new Tabulator("#tabla-roles-por-usuario", {
        theme: "site-dark",
        maxHeight: "800px",
        layout: "fitColumns",

        ajaxURL: `/json/rol/get_roles_por_usuario/${idUsuario}`,
        ajaxConfig: "GET",

        pagination: true,
        paginationMode: "local",
        paginationSize: 25,
        paginationSizeSelector: [15, 25, 50, 100],

        locale: true,

        langs: {
          "es-es": {
            pagination: {
              page_size: "Registros",
              first: "Primero",
              first_title: "Primera página",
              last: "Último",
              last_title: "Última página",
              prev: "Anterior",
              prev_title: "Página anterior",
              next: "Siguiente",
              next_title: "Página siguiente",
              all: "Todos",
            },
          },
        },

        locale: "es-es",

        columns: [
          {
            title: "ID",
            field: "idRol",
            hozAlign: "center",
            editor: false,
            width: 60,
            headerFilter: "input",
          },
          {
            title: "Nombre del rol",
            field: "nombre",
            editor: false,

            formatter: "textarea",
            headerFilter: "input",
          },
          {
            title: "Descripción",
            field: "descripcion",
            editor: false,

            formatter: "textarea",
            widthGrow: 3,
            headerFilter: "input",
          },
          {
            title: "Asignado",
            field: "asignado",
            width: 100,

            editor: true,
            headerFilter: "list",
            headerFilterParams: {
              values: {
                "": "Todos",
                true: "Sí",
                false: "No",
              },
            },

            formatter: "tickCross",
          },
        ],
      });
    }
    tableRolesPorUsuario.setData(
      `/json/rol/get_roles_por_usuario/${idUsuario}`,
    );
  }

  const btnConfirmarRoles = document.querySelector("#btn-confirmar-roles");
  btnConfirmarRoles.addEventListener("click", async function () {
    const usuarioRolesData = tableRolesPorUsuario.getData();

    for (let key in usuarioRolesData) {
      usuarioRolesData[key].idUsuario = idUsuarioCambios;
    }

    if (!(usuarioRolesData.length > 0)) return;

    const responseUsuarioRoles = await fetch(
      "/json/usuario_rol/create_usuario_rol_con_duplicados",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(usuarioRolesData),
      },
    );

    const respUsuarioRoles = await responseUsuarioRoles.json();

    if (respUsuarioRoles.success) {
      createSweetAlertSuccess(
        `Roles agregados, No. de roles en total: ${respUsuarioRoles.usuario_roles_creados}`,
      );
    } else {
      createSweetAlertError(
        `No se pudieron agregar los roles: ${respUsuarioRoles.error}`,
      );
    }
  });

  /* DEPARTMENTS MODAL */
  const editDepartmentsModal = document.getElementById("editDepartmentsModal");
  let tableUsuarioDepartments = null;

  editDepartmentsModal.addEventListener(
    "show.bs.modal",
    async function (event) {
      if (tableUsuarioDepartments) {
        tableUsuarioDepartments = null;
        idUsuarioCambios = null;
      }
      document.body.focus();
      const button = event.relatedTarget;

      document.getElementById("modalDepts-nombre-usuario").textContent =
        button.dataset.nombreUsuario;

      idUsuarioCambios = button.dataset.id;
      cargarTableUsuarioDepartments(button.dataset.id);
    },
  );

  function cargarTableUsuarioDepartments(idUsuario) {
    if (!tableUsuarioDepartments) {
      tableUsuarioDepartments = new Tabulator(
        "#tabla-departamentos-por-usuario",
        {
          theme: "site-dark",
          maxHeight: "800px",
          layout: "fitColumns",

          ajaxURL: `/json/departamento/get_departamentos_por_usuario/${idUsuario}`,
          ajaxConfig: "GET",

          pagination: true,
          paginationMode: "local",
          paginationSize: 25,
          paginationSizeSelector: [15, 25, 50, 100],

          locale: true,

          langs: {
            "es-es": {
              pagination: {
                page_size: "Registros",
                first: "Primero",
                first_title: "Primera página",
                last: "Último",
                last_title: "Última página",
                prev: "Anterior",
                prev_title: "Página anterior",
                next: "Siguiente",
                next_title: "Página siguiente",
                all: "Todos",
              },
            },
          },

          locale: "es-es",

          columns: [
            {
              title: "ID",
              field: "idDepartment",
              hozAlign: "center",
              editor: false,
              width: 60,
              headerFilter: "input",
            },
            {
              title: "Nombre del departamento",
              field: "name",
              editor: false,

              formatter: "textarea",
              headerFilter: "input",
            },
            {
              title: "Asignado",
              field: "asignado",
              width: 105,

              editor: true,
              headerFilter: "list",
              headerFilterParams: {
                values: {
                  "": "Todos",
                  true: "Sí",
                  false: "No",
                },
              },

              formatter: "tickCross",
            },
          ],
        },
      );
    }
    tableUsuarioDepartments.setData(
      `/json/departamento/get_departamentos_por_usuario/${idUsuario}`,
    );
  }

  const btnConfirmarDepartamentos = document.querySelector(
    "#btn-confirmar-departamentos",
  );
  btnConfirmarDepartamentos.addEventListener("click", async function () {
    const usuarioDepartamentosData = tableUsuarioDepartments.getData();

    for (let key in usuarioDepartamentosData) {
      usuarioDepartamentosData[key].idUsuario = idUsuarioCambios;
    }

    if (!(usuarioDepartamentosData.length > 0)) return;

    const responseUsuarioDepartamentos = await fetch(
      "/json/usuario_departamento/create_usuario_departamento_con_duplicados",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(usuarioDepartamentosData),
      },
    );

    const respUsuarioDepartamentos = await responseUsuarioDepartamentos.json();

    if (respUsuarioDepartamentos.success) {
      createSweetAlertSuccessTimer(
        `Departamentos agregados, No. de departamentos en total: ${respUsuarioDepartamentos.usuario_departamentos_creados}`,
      );
    } else {
      createSweetAlertError(
        `No se pudieron agregar los departamentos: ${respUsuarioDepartamentos.error}`,
      );
    }
  });

  /* PERMISOS MODAL  */
  const editPermissionModal = document.getElementById("editPermissionModal");
  let tablePermisosPorUsuario = null;

  editPermissionModal.addEventListener("show.bs.modal", async function (event) {
    if (tablePermisosPorUsuario) {
      tablePermisosPorUsuario = null;
      idUsuarioCambios = null;
    }
    document.body.focus();
    const button = event.relatedTarget;

    document.getElementById("modalPermisos-nombre-usuario").textContent =
      button.dataset.nombreUsuario;

    idUsuarioCambios = button.dataset.id;
    cargarTablePermisosPorUsuario(button.dataset.id);
  });

  function cargarTablePermisosPorUsuario(idUsuario) {
    if (!tablePermisosPorUsuario) {
      tablePermisosPorUsuario = new Tabulator("#tabla-permisos-por-usuario", {
        theme: "site-dark",
        maxHeight: "800px",
        layout: "fitColumns",

        ajaxURL: `/json/permiso/get_permisos_asignados_por_usuario/${idUsuario}`,
        ajaxConfig: "GET",

        pagination: true,
        paginationMode: "local",
        paginationSize: 25,
        paginationSizeSelector: [15, 25, 50, 100],

        locale: true,

        langs: {
          "es-es": {
            pagination: {
              page_size: "Registros",
              first: "Primero",
              first_title: "Primera página",
              last: "Último",
              last_title: "Última página",
              prev: "Anterior",
              prev_title: "Página anterior",
              next: "Siguiente",
              next_title: "Página siguiente",
              all: "Todos",
            },
          },
        },

        locale: "es-es",

        columns: [
          {
            title: "ID",
            field: "idPermiso",
            hozAlign: "center",
            editor: false,
            width: 60,
            headerFilter: "input",
          },
          {
            title: "Nombre del permiso",
            field: "nombrePermiso",
            editor: false,

            formatter: "textarea",
            headerFilter: "input",
          },
          {
            title: "Descripción",
            field: "descripcion",
            editor: false,

            formatter: "textarea",
            widthGrow: 3,
            headerFilter: "input",
          },
          {
            title: "Asignado",
            field: "asignado",
            width: 100,

            editor: true,
            headerFilter: "list",
            headerFilterParams: {
              values: {
                "": "Todos",
                true: "Sí",
                false: "No",
              },
            },

            formatter: "tickCross",
          },
        ],
      });
    }
    tablePermisosPorUsuario.setData(
      `/json/permiso/get_permisos_asignados_por_usuario/${idUsuario}`,
    );
  }

  const btnConfirmarPermisos = document.querySelector(
    "#btn-confirmar-permisos",
  );
  btnConfirmarPermisos.addEventListener("click", async function () {
    const usuarioPermisosData = tablePermisosPorUsuario.getData();

    if (!(usuarioPermisosData.length > 0)) return;

    for (let key in usuarioPermisosData) {
      usuarioPermisosData[key].idUsuario = idUsuarioCambios;
    }

    const responseUsuarioPermisos = await fetch(
      "/json/usuario_permiso/create_usuario_permiso_con_duplicados",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(usuarioPermisosData),
      },
    );

    const respUsuarioPermisos = await responseUsuarioPermisos.json();

    if (respUsuarioPermisos.success) {
      createSweetAlertSuccess(
        `Permisos creados, No. de permisos agregados: ${respUsuarioPermisos.usuario_permisos_creados}`,
      );
    } else {
      createSweetAlertError(
        `No se pudieron crear los permisos: ${respUsuarioPermisos.error}`,
      );
    }
  });

  /* CHANGE PASSWORD MODAL */
  const passModal = document.getElementById("passModal");

  passModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.getElementById("modalPass-idUsuario").value = button.dataset.id;

    document.getElementById("pass-mensaje").textContent = button.dataset.nombre;
  });

  /* DELETE MODAL */
  const deleteModal = document.getElementById("deleteModal");

  deleteModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.getElementById("delete-idUsuario").value = button.dataset.id;

    document.getElementById("delete-mensaje").textContent =
      `¿Seguro que desea eliminar el rol: ${button.dataset.nombre}?`;
  });
</script>

{% endblock %}
