{% extends "layout/base.html" %} {% block title %} Usuarios - Turnos Bonin {%
endblock %} {% block content %}

<!-- form card cc payment -->
<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Usuarios</h3>
      <form class="d-flex" role="search" onsubmit="return false;">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Nombre del usuario"
          id="busqueda"
        />
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <table class="table table-responsive table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(0, 'numero')">
              ID
              <span class="arrow" data-type="darr" data-column="0"
                ><strong>&darr;</strong></span
              ><span class="arrow" data-type="uarr" data-column="0"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(1)">
              Username
              <span class="arrow" data-type="darr" data-column="1">&darr;</span
              ><span class="arrow arrow-active" data-type="uarr" data-column="1"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(2)">
              Nombre completo
              <span class="arrow" data-type="darr" data-column="2">&darr;</span
              ><span class="arrow" data-type="uarr" data-column="2"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(3)">
              Activo
              <span class="arrow" data-type="darr" data-column="3">&darr;</span
              ><span class="arrow" data-type="uarr" data-column="3"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(4)">
              Roles
              <span class="arrow" data-type="darr" data-column="4">&darr;</span
              ><span class="arrow" data-type="uarr" data-column="4"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col">
            <p class="title_column" onclick="ordenarTabla(5)">
              Permisos
              <span class="arrow" data-type="darr" data-column="5">&darr;</span
              ><span class="arrow" data-type="uarr" data-column="5"
                >&uarr;</span
              >
            </p>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="tbody-list">
        {% for u in usuarios %}
        <tr class="record tr-list">
          <th scope="row">{{ u.idUsuario }}</th>
          <td class="record-name">{{ u.username }}</td>
          <td>{{ u.nombre }}</td>
          <td>{% if u.activo == 1 %} Sí {% else %} No {% endif %}</td>
          <td>
            {% for ur in usuario_roles %} {% for r in roles %} {% if u.idUsuario
            == ur.idUsuario and r.idRol == ur.idRol %}
            <p>{{ r.nombre }}</p>
            {% endif %} {% endfor %} {% endfor %}
          </td>
          <td>
            {% for up in usuario_permisos %} {% for p in permisos %} {% if
            u.idUsuario == up.idUsuario and p.idPermiso == up.idPermiso %}
            <p>{{ p.nombrePermiso }}</p>
            {% endif %} {% endfor %} {% endfor %}
          </td>

          <td>
            {% if u.idUsuario == 0 or u.idUsuario == 1 %}
            <div></div>
            {% else %}

            <div class="d-flex justify-content-between align-items-stretch">
              <button
                type="button"
                title="Editar datos"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#editModal{{ u.idUsuario }}"
              >
                <img
                  src="/static/img/edit-icon.png"
                  height="15px"
                  width="15px"
                />
                <strong></strong>
              </button>

              <button
                type="button"
                title="Editar roles"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#editRolesModal{{ u.idUsuario }}"
              >
                <img
                  src="/static/img/rol-icon.png"
                  height="15px"
                  width="15px"
                />
                <strong></strong>
              </button>

              <button
                type="button"
                title="Editar permisos"
                class="btn btn-light"
                data-bs-toggle="modal"
                data-bs-target="#editPermisosModal{{ u.idUsuario }}"
              >
                <img
                  src="/static/img/permission-icon.png"
                  height="15px"
                  width="15px"
                />
                <strong></strong>
              </button>

              <button
                type="button"
                title="Eliminar"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal{{ u.idUsuario }}"
              >
                <img
                  src="/static/img/delete-icon.png"
                  height="15px"
                  width="15px"
                />
                <strong></strong>
              </button>

              <button
                type="button"
                title="Cambiar contraseña"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#passModal{{ u.idUsuario }}"
              >
                <img
                  src="/static/img/chg_password-icon.png"
                  height="15px"
                  width="15px"
                />
                <strong></strong>
              </button>
            </div>

            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% for u in usuarios %}
    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal{{ u.idUsuario }}"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Editar usuario</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="form"
              role="form"
              action="/web/usuario/editarUsuario_web"
              method="POST"
            >
              <div class="form-group">
                <label hidden for="idUsuario">ID del usuario</label>
                <input
                  type="number"
                  class="form-control"
                  id="idUsuario"
                  name="idUsuario"
                  title="ID del usuario"
                  min="1"
                  hidden
                  value="{{ u.idUsuario }}"
                />
              </div>

              <div class="form-group">
                <label hidden for="username">Username del usuario</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  title="Username del usuario"
                  required
                  value="{{ u.username }}"
                  hidden
                />
              </div>

              <div class="form-group">
                <label for="nombre">Nombre completo del usuario</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  title="Nombre completo del usuario"
                  required
                  value="{{ u.nombre }}"
                />
              </div>

              <div class="form-group mt-3">
                <input type="hidden" name="activo_hidden" value="0" />
                <div class="form-check form-switch">
                  {% if u.activo == 1 %}
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    name="activo"
                    id="activo"
                    value="1"
                    checked
                  />
                  {% else %}
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    name="activo"
                    id="activo"
                    value="1"
                  />
                  {% endif %}
                  <label class="form-check-label" for="activo">Activo</label>
                </div>
              </div>

              <hr />
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg m-1"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button
                  type="submit"
                  class="btn btn-success btn-lg btn-block m-1"
                >
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Roles -->
    <div class="modal fade" id="editRolesModal{{ u.idUsuario }}" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Roles del usuario {{ u.nombre }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h2>Agregar rol</h2>
            <div>
              <form
                class="form"
                role="form"
                action="/web/usuario_rol/crearUsuario_Rol_web"
                method="POST"
              >
                <div class="form-group">
                  <label hidden for="idUsuario">ID del usuario</label>
                  <input
                    type="number"
                    class="form-control"
                    id="idUsuario"
                    name="idUsuario"
                    title="ID del usuario"
                    min="1"
                    hidden
                    value="{{ u.idUsuario }}"
                  />
                </div>
                <div class="form-group">
                  <label for="idRol">Rol</label>
                  <select
                    type="text"
                    class="form-control"
                    id="idRol"
                    name="idRol"
                    title="Rol que desea asignar"
                    required
                  >
                    <option disabled selected value="{{ None }}">
                      -- Seleccione una opción --
                    </option>
                    {% for r in roles %}
                    <option value="{{ r.idRol }}">{{ r.nombre }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-success btn-lg btn-block m-1"
                  >
                    Confirmar
                  </button>
                </div>
              </form>

              <table class="table table-light table-hover">
                <thead>
                  <hr />
                  <tr>
                    <th scope="col">
                      <p>ID Rol</p>
                    </th>
                    <th scope="col">
                      <p>Nombre de Rol</p>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for ur in usuario_roles %} {% for r in roles %} {% if
                  u.idUsuario == ur.idUsuario and r.idRol == ur.idRol %}
                  <tr>
                    <th scope="row">{{ r.idRol }}</th>
                    <td>{{ r.nombre }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-lg m-1 rol__btn-delete"
                        onclick="mostrarBotonesEliminarRol(this)"
                      >
                        &times;
                      </button>

                      <div class="rol__form__btn">
                        <button
                          onclick="submitDeleteRol('{{ u.idUsuario }}', '{{ ur.idRol }}')"
                          class="btn btn-danger btn-lg ms-3"
                        >
                          Confirmar
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary btn-lg ms-3"
                          onclick="cancelarEliminarRol(this)"
                        >
                          Cancelar
                        </button>
                      </div>
                    </td>
                  </tr>
                  {% endif %} {% endfor %} {% endfor %}
                </tbody>
              </table>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Permisos -->
    <div
      class="modal fade"
      id="editPermisosModal{{ u.idUsuario }}"
      tabindex="-1"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Permisos del usuario {{ u.nombre }}
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h2>Agregar permiso</h2>
            <div>
              <form
                class="form"
                role="form"
                action="/web/usuario_permiso/crearUsuario_Permiso_web"
                method="POST"
              >
                <div class="form-group">
                  <label hidden for="idUsuario">ID del usuario</label>
                  <input
                    type="number"
                    class="form-control"
                    id="idUsuario"
                    name="idUsuario"
                    title="ID del usuario"
                    min="1"
                    hidden
                    value="{{ u.idUsuario }}"
                  />
                </div>
                <div class="form-group">
                  <label for="idPermiso">Permiso</label>
                  <select
                    type="text"
                    class="form-control"
                    id="idPermiso"
                    name="idPermiso"
                    title="Permiso que desea asignar"
                    required
                  >
                    <option disabled selected value="{{ None }}">
                      -- Seleccione una opción --
                    </option>
                    {% for p in permisos %}
                    <option value="{{ p.idPermiso }}">
                      {{ p.nombrePermiso }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-success btn-lg btn-block m-1"
                  >
                    Confirmar
                  </button>
                </div>
              </form>

              <table class="table table-light table-hover">
                <thead>
                  <hr />
                  <tr>
                    <th scope="col">
                      <p>ID Permiso</p>
                    </th>
                    <th scope="col">
                      <p>Nombre de Permiso</p>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for up in usuario_permisos %} {% for p in permisos %} {% if
                  u.idUsuario == up.idUsuario and p.idPermiso == up.idPermiso %}
                  <tr>
                    <th scope="row">{{ p.idPermiso }}</th>
                    <td>{{ p.nombrePermiso }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-lg m-1 permiso__btn-delete"
                        onclick="mostrarBotonesEliminarPermiso(this)"
                      >
                        &times;
                      </button>

                      <div class="permiso__form__btn">
                        <button
                          onclick="submitDeletePermiso('{{ u.idUsuario }}', '{{ up.idPermiso }}')"
                          class="btn btn-danger btn-lg ms-3"
                        >
                          Confirmar
                        </button>
                        <button
                          type="button"
                          class="btn btn-secondary btn-lg ms-3"
                          onclick="cancelarEliminarPermiso(this)"
                        >
                          Cancelar
                        </button>
                      </div>
                    </td>
                  </tr>
                  {% endif %} {% endfor %} {% endfor %}
                </tbody>
              </table>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Eliminar Modal -->
    <div class="modal fade" id="deleteModal{{ u.idUsuario }}" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Eliminar usuario
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que quiere eliminar el registro {{ u.idUsuario }}?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <form action="/web/usuario/eliminarUsuario_web" method="POST">
              <input
                type="number"
                value="{{u.idUsuario}}"
                name="idUsuario"
                hidden
              />
              <button type="submit" class="btn btn-danger btn-lg">
                Eliminar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="passModal{{ u.idUsuario }}" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Cambio de contraseña
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="form"
              role="form"
              action="/web/usuario/cambiarPasswordUsuario_web"
              method="POST"
            >
              <div class="form-group">
                <label hidden for="idUsuario">ID del usuario</label>
                <input
                  type="number"
                  class="form-control"
                  id="idUsuario"
                  name="idUsuario"
                  title="ID de la ruta"
                  min="1"
                  required
                  value="{{ u.idUsuario }}"
                  readonly
                  hidden
                />
              </div>
              <div class="form-group">
                <label for="password">Nueva contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  title="Nueva contraseña"
                  required
                />
              </div>
              <div class="form-group">
                <label for="confirmedPassword"
                  >Confirmar nueva contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmedPassword"
                  name="confirmedPassword"
                  title="Nueva contraseña"
                  required
                />
              </div>
              <hr />
              <div class="d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg ms-1"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>

                <button type="submit" class="btn btn-success btn-lg ms-1">
                  Confirmar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<form
  id="deleteRolForm"
  action="/web/usuario_rol/eliminarUsuario_Rol_web"
  method="POST"
>
  <input type="hidden" name="idUsuario" id="delete_idUsuario" />
  <input type="hidden" name="idRol" id="delete_idRol" />
</form>
<form
  id="deletePermisoForm"
  action="/web/usuario_permiso/eliminarUsuario_Permiso_web"
  method="POST"
>
  <input type="hidden" name="idUsuario" id="delete_idUsuarioP" />
  <input type="hidden" name="idPermiso" id="delete_idPermiso" />
</form>

{% endblock %}
