{% extends "layout/base.html" %} {% block title %} Empleados - Turnos Bonin {%
endblock %} {% block content %}

<!-- form card cc payment -->
<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Empleados</h3>
      <form class="d-flex" role="search" onsubmit="return false;">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Escriba el nombre del empleado"
          id="busqueda"
        />
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(0, 'numero')">
                ID
                <span class="arrow" data-type="darr" data-column="0"
                  ><strong>&darr;</strong></span
                ><span class="arrow" data-type="uarr" data-column="0"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(1, 'numero')">
                Badge
                <span class="arrow" data-type="darr" data-column="1"
                  >&darr;</span
                ><span
                  class="arrow arrow-active"
                  data-type="uarr"
                  data-column="1"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(2)">
                Nombre
                <span class="arrow" data-type="darr" data-column="2"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="2"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(3)">
                Puesto
                <span class="arrow" data-type="darr" data-column="3"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="3"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(4)">
                Departamento
                <span class="arrow" data-type="darr" data-column="4"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="4"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(5)">
                Centro de costo
                <span class="arrow" data-type="darr" data-column="5"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="5"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(6)">
                Línea asignada
                <span class="arrow" data-type="darr" data-column="6"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="6"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(7)">
                Proceso asignado
                <span class="arrow" data-type="darr" data-column="7"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="7"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(8)">
                Activo
                <span class="arrow" data-type="darr" data-column="8"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="8"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p class="title_column" onclick="ordenarTabla(9)">
                Horario
                <span class="arrow" data-type="darr" data-column="9"
                  >&darr;</span
                ><span class="arrow" data-type="uarr" data-column="9"
                  >&uarr;</span
                >
              </p>
            </th>
            <th scope="col">
              <p>Acciones</p>
            </th>
          </tr>
        </thead>
        <tbody class="tbody-list">
          {% for e in empleados %}
          <tr class="record tr-list">
            <th scope="row">{{ e.idEmpleado }}</th>
            <td>{{ e.badgeNumber }}</td>
            <td class="record-name">
              {{ e.firstName }} {{ "" if e.secondname == None else e.secondName
              }} {{ e.lastName }} {{ "" if e.lastName2 == None else e.lastName2
              }}
            </td>
            <td>{{ e.position }}</td>
            <td>
              {% for d in departamentos %} {% if d.idDepartment ==
              e.idDepartment%} {{ d.name }} {% endif %} {% endfor %}
            </td>
            <td>
              {% for cdc in centros_de_costo %} {% if cdc.idCentro ==
              e.idCentro%} {{ cdc.nombreCentro }} {% endif %} {% endfor %}
            </td>
            <td>
              {% for l in lineas %} {% if l.idLinea == e.idLinea %} {{
              l.nameLinea }} {% endif %} {% endfor %}
            </td>
            <td>
              {% for p in procesos %} {% if p.idProceso == e.idProceso %} {{
              p.proceso }} {% endif %} {% endfor %}
            </td>
            <td>{% if e.activo == 1 %} Sí {% else %} No {% endif %}</td>
            <td>
              {% for h in horarios %} {% if h.idHorario == e.idHorario %} {{
              h.hora_inicio }} - {{ h.hora_fin }} {% endif %} {% endfor %}
            </td>
            <td>
              <div class="d-flex justify-content-between gap-2">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal{{ e.idEmpleado }}"
                >
                  <img
                    src="/static/img/edit-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Editar</strong>
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal{{ e.idEmpleado }}"
                >
                  <img
                    src="/static/img/delete-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Eliminar</strong>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% for e in empleados %}
<!-- EditModal -->
<div
  class="modal fade"
  id="editModal{{ e.idEmpleado }}"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Editar empleado</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="form"
          role="form"
          action="/web/empleado/editarEmpleado_web"
          method="POST"
        >
          <div class="form-group">
            <label hidden for="oldIdEmpleado">ID del departamento</label>
            {% with oldIdEmpleado = e.idEmpleado %}
            <input
              type="number"
              class="form-control"
              id="oldIdEmpleado"
              name="oldIdEmpleado"
              title="ID anterior del empleado"
              min="1"
              required
              value="{{ oldIdEmpleado }}"
              hidden
            />
            {% endwith %}
          </div>

          <div class="form-group">
            <label hidden for="oldBadgeNumber">Badge del Empleado</label>
            {% with oldBadgeNumber = e.badgeNumber %}
            <input
              type="number"
              class="form-control"
              id="oldBadgeNumber"
              name="oldBadgeNumber"
              title="Badge anterior del empleado"
              min="1"
              required
              value="{{ oldBadgeNumber }}"
              hidden
            />
            {% endwith %}
          </div>

          <div class="form-group">
            <label for="idEmpleado">ID del empleado</label>
            <input
              type="number"
              class="form-control"
              id="idEmpleado"
              name="idEmpleado"
              title="ID del empleado"
              min="1"
              required
              value="{{ e.idEmpleado }}"
            />
          </div>

          <div class="form-group">
            <label for="badgeNumber">Badge del empleado</label>
            <input
              type="number"
              class="form-control"
              id="badgeNumber"
              name="badgeNumber"
              title="Badge del empleado"
              required
              value="{{ e.badgeNumber }}"
            />
          </div>

          <div class="form-group">
            <label for="firstName">Primer nombre</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              title="Primer nombre del empleado"
              required
              value="{{ e.firstName }}"
            />
          </div>

          <div class="form-group">
            <label for="secondName">Segundo nombre</label>
            <input
              type="text"
              class="form-control"
              id="secondName"
              name="secondName"
              title="Segundo nombre del empleado"
              value="{{ e.secondName }}"
            />
          </div>

          <div class="form-group">
            <label for="lastName">Primer apellido</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              title="Primer apellido del empleado"
              required
              value="{{ e.lastName }}"
            />
          </div>

          <div class="form-group">
            <label for="lastName2">Segundo apellido</label>
            <input
              type="text"
              class="form-control"
              id="lastName2"
              name="lastName2"
              title="Segundo apellido del empleado"
              value="{{ e.lastName2 }}"
            />
          </div>

          <div class="form-group">
            <label for="position">Puesto</label>
            <input
              type="text"
              class="form-control"
              id="position"
              name="position"
              title="Puesto del empleado"
              required
              value="{{ e.position }}"
            />
          </div>

          <div class="form-group">
            <label for="idDepartment">Departamento</label>
            <select
              type="text"
              class="form-control select-department"
              id="idDepartment{{ e.idEmpleado }}"
              name="idDepartment"
              title="Departamento al que pertenece el empleado"
              required
              data-empleado="{{ e.idEmpleado }}"
            >
              <option disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>

              {% for d in departamentos %} {% if d.idDepartment ==
              e.idDepartment %}
              <option value="{{ d.idDepartment }}" selected>
                {{ d.name }}
              </option>
              {% else %}
              <option value="{{ d.idDepartment }}">{{ d.name }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="idCentro">Centro de costo</label>
            <select
              type="text"
              class="form-control"
              id="idCentro{{ e.idEmpleado }}"
              name="idCentro"
              title="Centro de costo al que pertenece el empleado"
              required
            >
              <option selected disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>

              {% for cdc in centros_de_costo %} {% if cdc.idCentro == e.idCentro
              %}
              <option value="{{ cdc.idCentro }}" selected>
                {{ cdc.nombreCentro }}
              </option>
              {% else %}
              <option value="{{ cdc.idCentro }}">{{ cdc.nombreCentro }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="idLinea">Línea asignada</label>
            <select
              type="text"
              class="form-control"
              id="idLinea{{ e.idEmpleado }}"
              name="idLinea"
              title="Línea a la que pertenece el empleado"
              required
            >
              <option selected disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>

              {% for l in lineas %} {% if l.idLinea == e.idLinea %}
              <option value="{{ l.idLinea }}" selected>
                {{ l.nameLinea }}
              </option>
              {% else %}
              <option value="{{ l.idLinea }}">{{ l.nameLinea }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="idProceso">Proceso asignado</label>
            <select
              type="text"
              class="form-control"
              id="idProceso{{ e.idEmpleado }}"
              name="idProceso"
              title="Proceso asignado al empleado"
              required
            >
              <option selected disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>

              {% for p in procesos %} {% if p.idProceso == e.idProceso %}
              <option value="{{ p.idProceso }}" selected>
                {{ p.proceso }}
              </option>
              {% else %}
              <option value="{{ p.idProceso }}">{{ p.proceso }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="idHorario">Horario</label>
            <select
              type="text"
              class="form-control select-department"
              id="idHorario{{ e.idEmpleado }}"
              name="idHorario"
              title="Departamento al que pertenece el empleado"
              required
            >
              {% if e.idHorario == None %}
              <option selected disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>
              {% else %}
              <option disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>
              {% endif %} {% for h in horarios %} {% if h.idHorario ==
              e.idHorario %}
              <option value="{{ h.idHorario }}" selected>
                {{ h.hora_inicio }} a {{ h.hora_fin }}
              </option>
              {% else %}
              <option value="{{ h.idHorario }}">
                {{ h.hora_inicio }} a {{ h.hora_fin }}
              </option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group mt-3">
            <input type="hidden" name="activo_hidden" value="0" />
            <div class="form-check form-switch">
              {% if e.activo == 1 %}
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                name="activo"
                id="activo"
                value="1"
                checked
              />
              {% else %}
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                name="activo"
                id="activo"
                value="1"
              />
              {% endif %}
              <label class="form-check-label" for="activo">Activo</label>
            </div>
          </div>

          <hr />
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary btn-lg m-1"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-success btn-lg btn-block m-1">
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{ e.idEmpleado }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Eliminar empleado
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quiere eliminar el registro {{ e.idEmpleado }}?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <form action="/web/empleado/eliminarEmpleado_web" method="POST">
          <input
            type="number"
            value="{{e.idEmpleado}}"
            name="idEmpleado"
            hidden
          />
          <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  document.querySelectorAll(".modal").forEach((modal) => {
    modal.addEventListener("shown.bs.modal", () => {
      const selectDepartment = modal.querySelector(".select-department");

      cargarCentrosLineasProcesos.call(selectDepartment);
    });
  });

  document
    .querySelectorAll(".select-department")
    .forEach((selectDepartment) => {
      selectDepartment.addEventListener("change", cargarCentrosLineasProcesos);
    });

  async function cargarCentrosLineasProcesos() {
    const idDepartment = this.value;

    const idEmpleado = this.dataset.empleado;

    const selectCentro = document.querySelector(`#idCentro${idEmpleado}`);
    const selectLinea = document.querySelector(`#idLinea${idEmpleado}`);
    const selectProceso = document.querySelector(`#idProceso${idEmpleado}`);

    try {
      const [respCentro, respLinea, respProceso] = await Promise.all([
        fetch(
          `/json/centro_de_costo/get_centros_de_costo_byDepartment_json/${idDepartment}`,
        ),
        fetch(`/json/linea/get_lineas_by_department/${idDepartment}`),
        fetch(`/json/proceso/get_procesos_by_department/${idDepartment}`),
      ]);

      /* Centros */
      const dataCentro = await respCentro.json();
      let htmlCentro = `
            <option selected disabled>
              -- Seleccione una opción --
            </option>
          `;
      dataCentro.forEach((centro) => {
        if (selectCentro.value === String(centro.idCentro)) {
          htmlCentro += `
              <option selected value="${centro.idCentro}">
                ${centro.nombreCentro}
              </option>
            `;
        } else {
          htmlCentro += `
              <option value="${centro.idCentro}">
                ${centro.nombreCentro}
              </option>
            `;
        }
      });
      selectCentro.innerHTML = htmlCentro;

      /* Líneas */
      const dataLinea = await respLinea.json();
      let htmlLinea = `
            <option ${selectLinea.value ? "selected" : ""} disabled>
              -- Seleccione una opción --
            </option>
          `;
      dataLinea.forEach((linea) => {
        console.log(linea.idLinea);

        if (selectLinea.value === String(linea.idLinea)) {
          htmlLinea += `
                <option selected value="${linea.idLinea}">
                  ${linea.nameLinea}
                </option>
              `;
        } else {
          htmlLinea += `
                <option value="${linea.idLinea}">
                  ${linea.nameLinea}
                </option>
              `;
        }
      });
      selectLinea.innerHTML = htmlLinea;

      /* Procesos */
      const dataProceso = await respProceso.json();
      let htmlProceso = `
            <option selected disabled>
              -- Seleccione una opción --
            </option>
          `;
      dataProceso.forEach((proceso) => {
        if (selectProceso.value === String(proceso.idProceso)) {
          htmlProceso += `
              <option selected value="${proceso.idProceso}">
                ${proceso.proceso}
              </option>
            `;
        } else {
          htmlProceso += `
              <option value="${proceso.idProceso}">
                ${proceso.proceso}
              </option>
            `;
        }
      });
      selectProceso.innerHTML = htmlProceso;
    } catch (error) {
      console.error(error);
    }
  }
</script>

{% endblock %}
