{% extends "layout/base.html" %} {% block title %} Líneas - Turnos Bonin {%
endblock %} {% block content %}

<!-- form card cc payment -->
<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Líneas</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-general-lineas"></div>
  </div>
</div>
<!-- Create Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{% include "linea/formCrearLinea.html" %}</div>
    </div>
  </div>
</div>

{% for l in lineas %}
<!-- EditModal -->
<div
  class="modal fade"
  id="editModal{{ l.idLinea }}"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Editar línea</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="form"
          role="form"
          action="/web/linea/editarLinea_web"
          method="POST"
        >
          <div class="form-group">
            <label hidden for="idLinea">ID de la línea</label>
            <input
              type="number"
              class="form-control"
              id="idLinea"
              name="idLinea"
              title="ID de la línea"
              min="1"
              required
              value="{{ l.idLinea }}"
              readonly
              hidden
            />
          </div>

          <div class="form-group">
            <label for="nameLinea">Nombre de la línea</label>
            <input
              type="text"
              class="form-control"
              id="nameLinea"
              name="nameLinea"
              title="Nombre de la línea"
              min="1"
              required
              value="{{ l.nameLinea }}"
            />
          </div>

          <div class="form-group">
            <label for="idDepartment"
              >Departamento al que corresponde la línea</label
            >
            <select
              type="text"
              class="form-control"
              id="idDepartment"
              name="idDepartment"
              title="Departamento al que corresponde la línea"
              required
            >
              <option disabled value="{{ None }}">
                -- Seleccione una opción --
              </option>

              {% for d in departamentos %} {% if d.idDepartment ==
              l.idDepartment %}
              <option value="{{ d.idDepartment }}" selected>
                {{ d.name }}
              </option>
              {% else %}
              <option value="{{ d.idDepartment }}">{{ d.name }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="minimo_requerido"
              >Número de empleados requeridos por línea</label
            >
            <input
              type="number"
              class="form-control"
              id="minimo_requerido"
              name="minimo_requerido"
              title="Número de empleados requeridos por línea"
              min="1"
              required
              value="{{ l.minimo_requerido }}"
            />
          </div>

          <hr />
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary btn-lg m-1"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-success btn-lg btn-block m-1">
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DeleteModal -->
<div class="modal fade" id="deleteModal{{ l.idLinea }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar línea</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quiere eliminar el registro {{ l.idLinea }}?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <form action="/web/linea/eliminarLinea_web" method="POST">
          <input type="number" value="{{l.idLinea}}" name="idLinea" hidden />
          <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% block scripts %} {% include "layout/includes/tabulator.html" %}
{% endblock %}
<script>
  (async function () {
    cargarTableGeneralLineas();
  })();

  function cargarTableGeneralLineas() {
    const tableGeneralLineas = new Tabulator("#tabla-general-lineas", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: "/json/linea/get_lineas_details",
      ajaxConfig: "GET",

      columns: [
        {
          title: "ID",
          field: "idLinea",

          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
        {
          title: "Nombre",
          field: "nombre",

          widthGrow: 2,
          editor: false,
          formatter: "textarea",
          headerFilter: "input",
        },
        {
          title: "Departamento al que corresponde",
          field: "departamento",
          headerWordWrap: true,

          hozAlign: "center",
          editor: false,
          // width: 100,
          formatter: "textarea",
          headerFilter: "input",
        },
        {
          title: "Personal mínimo requerido",
          field: "minimo_requerido",
          headerWordWrap: true,

          hozAlign: "center",
          editor: false,
          // width: 100,
          headerFilter: "input",
        },
        {
          title: "Acciones",
          hozAlign: "center",
          width: 225,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <div class="d-flex gap-3 justify-content-center">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal${data.idLinea}"
                >
                  <img src="/static/img/edit-icon.png" height="15px" width="15px" />
                  <strong>Editar</strong>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal${data.idLinea}"
                >
                  <img
                    src="/static/img/delete-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Eliminar</strong>
                </button>
              </div>
              `;
          },
        },
      ],
    });
  }
</script>
{% endblock %}
