{% extends "layout/base.html" %} {% block title %} Importaciones de marcaje -
Turnos Bonin {% endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Importaciones de marcaje</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-importaciones"></div>
  </div>
</div>

<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% include "importacion/formCrearImportacion.html" %}
      </div>
    </div>
  </div>
</div>
{% block scripts %} {% include "layout/includes/tabulator.html" %} {% endblock
%}
<script>
  (async function () {
    cargarTableImportaciones();
  })();

  function cargarTableImportaciones() {
    const tableImportaciones = new Tabulator("#tabla-importaciones", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: "/json/importacion/get_importaciones",
      ajaxConfig: "GET",

      columns: [
        {
          title: "ID",
          field: "idImportacion",
          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
        {
          title: "Nombre del archivo",
          field: "nombre_archivo",
          editor: false,
          headerFilter: "input",
        },
        {
          title: "Fecha de carga",
          field: "fecha_inicio",
          hozAlign: "center",
          editor: false,
          width: 200,
          headerFilter: "input",
        },
        {
          title: "Fecha fin de carga",
          field: "fecha_fin",
          hozAlign: "center",
          editor: false,
          width: 200,
          headerFilter: "input",
        },
        {
          title: "No. Registros",
          field: "registros",
          hozAlign: "center",
          editor: false,
          width: 150,
          headerFilter: "input",
        },
        {
          title: "Usuario",
          field: "nombre_usuario",
          hozAlign: "center",
          editor: false,
          width: 200,
          headerFilter: "input",
        },
        {
          title: "Fecha de creación",
          field: "fecha_creacion",
          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
      ],
    });
  }
</script>
{% endblock %}
