{% extends "layout/base.html" %} {% block title %} Roles - Turnos Bonin {%
endblock %} {% block content %}

<!-- form card cc payment -->
<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Roles</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-roles"></div>
  </div>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  aria-labelledby="createModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{% include "rol/formCrearRol.html" %}</div>
    </div>
  </div>
</div>

<!-- Edit Modal Reutilizable -->
<div class="modal fade" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/web/rol/editarRol_web" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Editar rol</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <input type="hidden" id="modal-idRol" name="idRol" />

          <div class="mb-3">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              id="modal-nombre"
              name="nombre"
              required
            />
          </div>

          <div class="mb-3">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              id="modal-descripcion"
              name="descripcion"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal Reutilizable -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/web/rol/eliminarRol_web" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar rol</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <input type="hidden" id="delete-idRol" name="idRol" />

          <p id="delete-mensaje"></p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EditPermissions Modal Reutilizable -->
<div class="modal fade" id="editPermissionModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Permisos del rol: <span id="modal-nombre-rol"></span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="tabla-permisos-por-rol" class="m-3"></div>

      <div class="modal-footer">
        <button
          id="btn-confirmar-permisos"
          type="submit"
          class="btn btn-success"
        >
          Confirmar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<form
  id="deletePermisoForm"
  action="/web/rol_permiso/eliminarRol_Permiso_web"
  method="POST"
>
  <input type="hidden" name="idRol" id="delete_idRolP" />
  <input type="hidden" name="idPermiso" id="delete_idPermiso" />
</form>

<script>
  (async function () {
    cargarTableRoles();
  })();

  function cargarTableRoles() {
    const tableRoles = new Tabulator("#tabla-roles", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: "/json/rol/get_roles_details",
      ajaxConfig: "GET",

      columns: [
        {
          title: "Editar",
          hozAlign: "center",
          editor: false,
          width: 82,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar rol"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                data-id="${data.idRol}"
                data-nombre="${data.nombre}"
                data-descripcion="${data.descripcion}"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            `;
          },
        },
        {
          title: "ID",
          field: "idRol",
          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
        {
          title: "Nombre del rol",
          field: "nombre",
          editor: false,

          formatter: "textarea",
          headerFilter: "input",
        },
        {
          title: "Descripción",
          field: "descripcion",
          editor: false,

          formatter: "textarea",
          widthGrow: 3,
          headerFilter: "input",
        },
        {
          title: "Permisos",
          hozAlign: "center",
          width: 102,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar permisos del rol"
                class="btn btn-light"
                data-bs-toggle="modal"
                data-bs-target="#editPermissionModal"
                data-id="${data.idRol}"
                data-nombre-rol="${data.nombre}"
              >
                <i class="bi bi-person-lock"></i>
                <strong>Ver</strong>
              </button>
            `;
          },
        },
        {
          title: "Eliminar",
          hozAlign: "center",
          width: 97,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Eliminar rol"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="${data.idRol}"
                data-nombre="${data.nombre}"
              >
                <i class="bi bi-trash3"></i>
              </button>
              `;
          },
        },
      ],
    });
  }

  const editModal = document.getElementById("editModal");

  editModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.getElementById("modal-idRol").value = button.dataset.id;

    document.getElementById("modal-nombre").value = button.dataset.nombre;

    document.getElementById("modal-descripcion").value =
      button.dataset.descripcion;
  });

  const deleteModal = document.getElementById("deleteModal");

  deleteModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.getElementById("delete-idRol").value = button.dataset.id;

    document.getElementById("delete-mensaje").textContent =
      `¿Seguro que desea eliminar el rol: ${button.dataset.nombre}?`;
  });

  const editPermissionModal = document.getElementById("editPermissionModal");
  let tablePermisosPorRol = null;
  let idRolCambios;

  editPermissionModal.addEventListener("show.bs.modal", async function (event) {
    if (tablePermisosPorRol) {
      tablePermisosPorRol = null;
      idRolCambios = null;
    }
    document.body.focus();
    const button = event.relatedTarget;

    document.getElementById("modal-nombre-rol").textContent =
      button.dataset.nombreRol;

    idRolCambios = button.dataset.id;
    cargarTablePermisosPorRol(button.dataset.id);
  });

  function cargarTablePermisosPorRol(idRol) {
    if (!tablePermisosPorRol) {
      tablePermisosPorRol = new Tabulator("#tabla-permisos-por-rol", {
        theme: "site-dark",
        maxHeight: "800px",
        layout: "fitColumns",

        ajaxURL: `/json/permiso/get_permisos_asignados_por_rol/${idRol}`,
        ajaxConfig: "GET",

        pagination: true,
        paginationMode: "local",
        paginationSize: 25,
        paginationSizeSelector: [15, 25, 50, 100],

        locale: true,

        langs: {
          "es-es": {
            pagination: {
              page_size: "Registros",
              first: "Primero",
              first_title: "Primera página",
              last: "Último",
              last_title: "Última página",
              prev: "Anterior",
              prev_title: "Página anterior",
              next: "Siguiente",
              next_title: "Página siguiente",
              all: "Todos",
            },
          },
        },

        locale: "es-es",

        columns: [
          {
            title: "ID",
            field: "idPermiso",
            hozAlign: "center",
            editor: false,
            width: 60,
            headerFilter: "input",
          },
          {
            title: "Nombre del permiso",
            field: "nombrePermiso",
            editor: false,

            formatter: "textarea",
            headerFilter: "input",
          },
          {
            title: "Descripción",
            field: "descripcion",
            editor: false,

            formatter: "textarea",
            widthGrow: 3,
            headerFilter: "input",
          },
          {
            title: "Asignado",
            field: "asignado",
            width: 100,

            editor: true,
            headerFilter: "input",

            formatter: "tickCross",
          },
        ],
      });
    }
    tablePermisosPorRol.setData(
      `/json/permiso/get_permisos_asignados_por_rol/${idRol}`,
    );
  }

  const btnConfirmarCambios = document.querySelector("#btn-confirmar-permisos");
  btnConfirmarCambios.addEventListener("click", async function () {
    const rolPermisosData = tablePermisosPorRol.getData();

    for (let key in rolPermisosData) {
      rolPermisosData[key].idRol = idRolCambios;
    }

    console.log(rolPermisosData);

    if (!(rolPermisosData.length > 0)) return;

    const responseRolPermisos = await fetch(
      "/json/rol_permiso/create_rol_permiso_con_duplicados",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(rolPermisosData),
      },
    );

    const respRolPermisos = await responseRolPermisos.json();

    if (respRolPermisos.success) {
      createSweetAlertSuccess(
        `Permisos creados, No. de permisos agregados: ${respRolPermisos.rol_permisos_creados}`,
      );
    } else {
      createSweetAlertError(
        `No se pudieron crear los permisos: ${respRolPermisos.error}`,
      );
    }
  });

  function createSweetAlertSuccess(msg) {
    Swal.fire({
      icon: "success",
      title: msg,
      showConfirmButton: true,
    });
  }

  function createSweetAlertError(msg) {
    Swal.fire({
      icon: "error",
      title: msg,
      showConfirmButton: true,
    });
  }
</script>

{% endblock %}
