{% extends "layout/base.html" %} {% block title %} Programación {% for d in
departamentos %} {% if d.idDepartment == idDepartment %} {{ d.name }} {% endif
%} {% endfor %} {{ fecha }} - Turnos Bonin {% endblock %} {% block content %} {%
with messages = get_flashed_messages(with_categories=true) %} {% for category,
message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endwith %}
<div class="card card-outline-secondary bg-dark text-light mt-3">
  <div class="card-body">
    <div class="grid-autorizacion-parent">
      <div
        class="encabezado__text encabezado__text-bold grid-autorizacion__encabezado"
      >
        <h1>Autorización de horas extra</h1>
      </div>
      <div
        class="encabezado__text encabezado__text-bold grid-autorizacion__departamento-title"
      >
        Departamento
      </div>
      <div
        class="encabezado__text grid-autorizacion__departamento-name"
        data-fecha="{{ fecha }}"
      >
        {% for d in departamentos %} {% if d.idDepartment == idDepartment_value
        %} {{ d.name }} {% endif %} {% endfor %}
      </div>
      <div class="reportes">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
              >
                Reportes
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse"
            >
              <div class="accordion-body">
                <div class="card card-outline-secondary bg-light text-dark">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-light table-striped">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">
                              Reporte de autorización de horas extra
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(1, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(1, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">
                              Reporte de diferencias pendientes de autorizar
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(2, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(2, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">
                              Reporte de horas autorizadas por empleado
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(3, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(3, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">
                              Reporte de horas autorizadas por empleado y línea
                              asignada
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(4, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(4, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">
                              Reporte de horas autorizadas por empleado, línea
                              asignada y fecha
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(5, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(5, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td scope="row">
                              Reporte de resumen general de horas extra
                              autorizadas
                            </td>
                            <td>
                              <div class="text-center">
                                <button
                                  onclick="descargarExcel(6, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-success"
                                >
                                  Excel
                                </button>
                                <button
                                  onclick="descargarPDF(6, '{{from_date_value}}', '{{to_date_value}}', '{{idDepartment_value}}')"
                                  class="btn btn-danger"
                                >
                                  PDF
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tabla-autorizaciones"></div>
</div>

<!-- validarAsignacionesModal -->
<div
  class="modal fade"
  id="validarAsignacionesModal"
  tabindex="-1"
  aria-labelledby="validarAsignacionesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="validarAsignacionesModalLabel">
          Validación de empleados asignados a cada línea
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="tabla-confirmacion"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Seguir asignando
        </button>
        <button
          onclick="confirmarAsignacionesForm_submit()"
          type="button"
          class="btn btn-success"
        >
          Confirmar verificación
        </button>
      </div>
    </div>
  </div>
</div>

<form
  hidden
  id="confirmarAsignacionesForm"
  action="/web/programacion/confirmar_verificacion_programacion_web"
  method="POST"
>
  <input
    type="number"
    name="idProgramacion"
    id="idProgramacion_asignacion"
    value=""
  />
  <input
    type="number"
    name="verificado_por"
    id="verificado_por_asignacion"
    value="{{ current_user.id }}"
  />
  <input
    type="number"
    name="idDepartment"
    id="idDepartment_asignacion"
    value="{{ idDepartment }}"
  />
  <input type="text" name="fecha" id="fecha_asignacion" value="{{ fecha }}" />
</form>

<!-- Session expired Modal -->
<div
  class="modal fade"
  id="sessionExpiredModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title">Sesión expirada</h5>
      </div>

      <div class="modal-body">Tu sesión expiró por inactividad.</div>
      <hr />
      <form id="reauthForm" class="p-4">
        <div class="mb-3">
          <label class="form-label">Usuario</label>

          <input type="text" class="form-control" id="reauthUser" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Contraseña</label>

          <input
            type="password"
            class="form-control"
            id="reauthPassword"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Renovar sesión</button>
      </form>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Modal Observacion autorizacion -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropObservacion"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

<script>
  const fechaActual = new Date();
  const fecha = `${fechaActual.getFullYear()}-${String(fechaActual.getMonth() + 1).padStart(2, "0")}-${String(fechaActual.getDay()).padStart(2, "0")}`;
  const idDepartmentValue = "{{ idDepartment_value }}";
  const fromDateValue = "{{ from_date_value }}";
  const toDateValue = "{{ to_date_value }}";

  console.log({
    idDepartmentValue,
    fromDateValue,
    toDateValue,
  });

  async function apiFetch(url, options = {}) {
    try {
      const response = await fetch(url, options);

      if (response.status === 401) {
        mostrarSesionExpiradaModal();
        return null;
      }

      if (!response.ok) {
        throw new Error(`HTTP ${response.status}`);
      }

      const contentType = response.headers.get("content-type");

      if (!contentType?.includes("application/json")) {
        throw new Error("Respuesta no válida");
      }

      return await response.json();
    } catch (error) {
      console.error(error);

      alert("Ocurrió un error de comunicación con el servidor.");

      return null;
    }
  }

  let usuarios = {};

  (async function () {
    async function cargarCatalogos() {
      const [usuariosResponse] = await Promise.all([
        fetch`/json/usuario/get_usuarios`,
      ]);

      const usuariosData = await usuariosResponse.json();

      usuariosData.forEach((u) => (usuarios[u.idUsuario] = u.nombre));
    }

    await cargarCatalogos();
  })();

  let sessionModalVisible = false;

  function mostrarSesionExpiradaModal() {
    if (sessionModalVisible) return;

    sessionModalVisible = true;

    const modal = new bootstrap.Modal(
      document.getElementById("sessionExpiredModal"),
      {
        backdrop: "static",
        keyboard: false,
      },
    );

    modal.show();
    usernameInput.focus();
  }

  const reauthForm = document.getElementById("reauthForm");

  reauthForm.addEventListener("submit", async function (e) {
    e.preventDefault();
    const usernameInput = document.getElementById("reauthUser");
    const passwordInput = document.getElementById("reauthPassword");

    const username = usernameInput.value;
    const password = passwordInput.value;

    try {
      const response = await fetch("/json/usuario/reauth", {
        method: "POST",

        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify({
          username,
          password,
        }),
      });

      const resp = await response.json();

      if (!resp.success) {
        alert("Credenciales inválidas");
        return;
      }

      sessionModalVisible = false;

      bootstrap.Modal.getInstance(
        document.getElementById("sessionExpiredModal"),
      ).hide();

      usernameInput.value = passwordInput.value = "";

      alert("Sesión renovada");
    } catch (error) {
      console.error(error);
    }
  });

  const tableAutorizaciones = new Tabulator("#tabla-autorizaciones", {
    theme: "site-dark",
    maxHeight: "640px",
    layout: "fitData",
    resizableColumnGuide: true,
    // initialFilter: [{ field: "diferencia", type: ">", value: 0 }],

    ajaxURL: `/json/autorizacion/get_detalles_autorizaciones/${fromDateValue}/${toDateValue}/${idDepartmentValue}`,
    // ajaxURL: `/json/autorizacion/get_detalles_autorizaciones/${fecha}/${fecha}/${idDepartmentUser}`,
    ajaxConfig: "GET",
    ajaxResponse: function (url, params, response) {
      if (response.session_expired) {
        mostrarSesionExpiradaModal();
        return [];
      }

      return response;
    },

    columns: [
      {
        title: "No.",
        formatter: "rownum",
        frozen: true,
      },
      {
        title: "Estado",
        field: "_saveStatus",
        hozAlign: "center",
        frozen: true,

        formatter: function (cell) {
          const value = cell.getValue();
          const row = cell.getRow();
          const data = row.getData();

          switch (value) {
            case "pending":
              return "⬜ Pendiente";

            case "saving":
              return "💾 Guardando";

            case "authorized":
              return "🟢 Autorizado";

            case "unauthorized":
              return "⛔ No autorizado";

            case "editing":
              return "📝 Editando";

            case "error":
              return "🔴 Error";

            default:
              return "✅ Confirmado";
          }
        },
      },
      {
        title: "ID Registro",
        field: "idRegistro",
        headerHozAlign: "center",
        hozAlign: "center",
        editor: false,
        frozen: true,
        visible: false,
      },
      {
        title: "ID Empleado",
        field: "idEmpleado",
        headerHozAlign: "center",
        hozAlign: "center",
        editor: false,
        frozen: true,
      },
      {
        title: "Nombre empleado",
        field: "nombre_completo",
        headerHozAlign: "center",
        hozAlign: "left",
        editor: false,
        frozen: true,
      },
      {
        title: "Fecha",
        field: "fecha",
        headerHozAlign: "center",
        hozAlign: "center",
        editor: false,
        frozen: true,

        formatter: function (cell) {
          const [anio, mes, dia] = cell.getValue().split("-");

          return `${dia}/${mes}/${anio}`;
        },
      },
      {
        title: "Horario normal",
        hozAlign: "center",
        editor: false,

        formatter: function (cell) {
          const data = cell.getRow().getData();

          return `
            ${data.hora_entrada !== null ? data.hora_entrada.padStart(8, "0") : "Sin datos"} - 
            ${data.hora_salida !== null ? data.hora_salida.padStart(8, "0") : "Sin datos"}
          `;
        },
      },
      {
        title: "Horario digitado",
        hozAlign: "center",
        editor: false,

        formatter: function (cell) {
          const data = cell.getRow().getData();

          return `
            ${data.hora_entrada_digitada !== null ? data.hora_entrada_digitada.padStart(8, "0") : "Sin datos"} - 
            ${data.hora_salida_digitada !== null ? data.hora_salida_digitada.padStart(8, "0") : "Sin datos"}
          `;
        },
      },
      {
        title: "Horario marcado",
        hozAlign: "center",
        editor: false,

        formatter: function (cell) {
          const data = cell.getRow().getData();

          return `
            ${data.hora_entrada_reloj !== null ? data.hora_entrada_reloj.padStart(8, "0") : "Sin datos"} - 
            ${data.hora_salida_reloj !== null ? data.hora_salida_reloj.padStart(8, "0") : "Sin datos"}
          `;
        },
      },
      {
        title: "Total horas según digitación",
        field: "total_digitado",
        hozAlign: "center",
        editor: false,

        formatter: function (cell) {
          return cell.getValue() ? cell.getValue() : "0.00";
        },
      },
      {
        title: "Total horas según reloj",
        field: "total_horas",
        hozAlign: "center",
        editor: false,
      },
      {
        title: "Diferencia",
        field: "diferencia",
        hozAlign: "center",
        editor: false,
      },
      {
        title: "Total autorizable",
        field: "total_horas_autorizables",
        hozAlign: "center",
        editor: false,
      },
      {
        title: "Horas autorizadas",
        field: "horas_autorizadas",
        hozAlign: "center",
        editor: false,
      },
      {
        title: "Pendiente de autorizar",
        field: "pendiente_de_autorizar",
        hozAlign: "center",
        editor: false,
        visible: false,
      },
      {
        title: "Motivo de autorización",
        field: "observacion",
        hozAlign: "center",
        editor: "input",
      },
      {
        title: "Autorizar",
        hozAlign: "center",

        formatter: function () {
          return `
            <button 
              class="btn btn-success btn-sm" 
              style="width:100%; height: 100%"
            >
              ✔️
            </button>
          `;
        },

        cellClick: async function (e, cell) {
          let row = cell.getRow();
          let data = row.getData();

          autorizacion = createAutorizacionData(data, 1);

          console.log(autorizacion);
          console.log(JSON.stringify(autorizacion));

          guardarAutorizacionData(row, autorizacion);
        },
      },
      {
        title: "No autorizar",
        hozAlign: "center",

        formatter: function () {
          return `
            <button 
              class="btn btn-danger btn-sm" 
              style="width:100%; height: 100%"
            >
              ✖️
            </button>
          `;
        },

        cellClick: async function (e, cell) {
          let row = cell.getRow();
          let data = row.getData();

          autorizacion = createAutorizacionData(data, 0);

          console.log(autorizacion);
          console.log(JSON.stringify(autorizacion));

          guardarAutorizacionData(row, autorizacion);
        },
      },
      {
        title: "Autorizado",
        field: "autorizado",
        hozAlign: "center",
        editor: false,
        formatter: function (cell) {
          return cell.getValue()
            ? "<span style='color:lime;'>&check;</span>"
            : "<span style='color:red;'>&cross;</span>";
        },
      },
      {
        title: "Usuario que autoriza",
        field: "usuario_autorizacion",
        hozAlign: "center",
        editor: false,

        formatter: function (cell) {
          return usuarios[cell.getValue()] ? usuarios[cell.getValue()] : "";
        },
      },
      {
        title: "Fecha de autorizado",
        field: "fecha_autorizacion",
        hozAlign: "center",
        editor: false,
      },
    ],

    rowFormatter: function (row) {
      const el = row.getElement();
      el.classList.remove("red-row");
      el.classList.remove("green-row");
      el.classList.remove("yellow-row");

      const { _saveStatus, autorizado } = row.getData();

      if (row.getData()._saveStatus === "error") {
        el.classList.add("red-row");
      } else if (row.getData()._saveStatus === "editing") {
        el.classList.add("yellow-row");
      } else if (_saveStatus === "authorized" && autorizado === 1) {
        el.classList.add("green-row");
      } else if (_saveStatus === "unauthorized" && autorizado === 0) {
        el.classList.add("orange-row");
      }
    },
  });

  function createAutorizacionData(data, isAuthorized) {
    const fromWhichTotalComment = isAuthorized
      ? "Según marcaje del reloj"
      : "Según lo digitado";

    return {
      idEmpleado: data.idEmpleado,
      fecha: data.fecha,
      horas_autorizadas: isAuthorized ? data.total_horas : data.total_digitado,
      autorizado: isAuthorized ? 1 : 0,
      observacion: data.observacion
        ? `${data.observacion}: ${fromWhichTotalComment}`
        : `Autorizado: ${fromWhichTotalComment}`,
      fecha_autorizacion: new Date()
        .toISOString()
        .slice(0, 19)
        .replace("T", " "),
      usuario_autorizacion: "{{ current_user.id }}",
      idRegistro: data.idRegistro,
    };
  }

  async function guardarAutorizacionData(row, autorizacion) {
    try {
      const resp = await apiFetch(
        `/json/autorizacion/guardar_autorizacion_service`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(autorizacion),
        },
      );

      if (!resp) {
        row.update({
          _saveStatus: "error",
        });

        alert(`Error al guardar: ${resp}`);

        return;
      }

      if (resp.error) {
        row.update({
          _saveStatus: "error",
        });
        throw new Error(resp.error);
      } else {
        console.log(resp);

        row.update({
          ...resp,

          pendiente_de_autorizar:
            autorizacion.autorizado === 1 ? 0 : resp.pendiente_de_autorizar,
          _saveStatus:
            autorizacion.autorizado === 1 ? "authorized" : "unauthorized",
        });
      }
    } catch (error) {
      console.error(error);

      row.update({
        _saveStatus: "error",
      });
    }
  }

  /* DESCARGAR REPORTES */
  async function descargarExcel(
    numeroReporte,
    from_date,
    to_date,
    idDepartment,
  ) {
    switch (numeroReporte) {
      case 1:
        window.open(
          `/json/reports/autorizacion/descargar_autorizacion_horas_extra/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      case 2:
        window.open(
          `/json/reports/autorizacion/descargar_horas_extra_pendientes/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      case 3:
        window.open(
          `/json/reports/autorizacion/descargar_resumen_horas_autorizadas/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      case 4:
        window.open(
          `/json/reports/autorizacion/descargar_horas_autorizadas_por_empleado_linea/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      case 5:
        window.open(
          `/json/reports/autorizacion/descargar_horas_autorizadas_por_empleado_linea_fecha/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      case 6:
        window.open(
          `/json/reports/autorizacion/descargar_reporte_resumen_general/${from_date}/${to_date}/${idDepartment}/isPDF=${0}`,
        );

      default:
        return;
    }
  }

  async function descargarPDF(numeroReporte, from_date, to_date, idDepartment) {
    switch (numeroReporte) {
      case 1:
        window.open(
          `/json/reports/autorizacion/descargar_autorizacion_horas_extra/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      case 2:
        window.open(
          `/json/reports/autorizacion/descargar_horas_extra_pendientes/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      case 3:
        window.open(
          `/json/reports/autorizacion/descargar_resumen_horas_autorizadas/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      case 4:
        window.open(
          `/json/reports/autorizacion/descargar_horas_autorizadas_por_empleado_linea/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      case 5:
        window.open(
          `/json/reports/autorizacion/descargar_horas_autorizadas_por_empleado_linea_fecha/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      case 6:
        window.open(
          `/json/reports/autorizacion/descargar_reporte_resumen_general/${from_date}/${to_date}/${idDepartment}/isPDF=${1}`,
        );

      default:
        return;
    }
  }
</script>

{% endblock %}
