{% extends "layout/base.html" %} {% block title %} Motivos de desasignación -
Turnos Bonin {% endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Motivos de desasignación</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-motivos"></div>

    <!-- Create Modal -->
    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      aria-labelledby="createModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel"></h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% include "motivo_desasignacion/formCrearMotivo_desasignacion.html"
            %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% for m in motivos_desasignacion %}
<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal{{ m.idMotivo }}"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">
          Editar Motivo de desasignación
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="form"
          role="form"
          action="/web/motivo_desasignacion/editarMotivo_desasignacion_web"
          method="POST"
        >
          <div hidden class="form-group">
            <label for="idMotivo">ID del motivo_desasignacion</label>
            <input
              type="number"
              class="form-control"
              id="idMotivo"
              name="idMotivo"
              title="ID del motivo_desasignacion"
              min="1"
              required
              value="{{ m.idMotivo }}"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              title="Descripción"
              required
              value="{{ m.descripcion }}"
            />
          </div>
          <hr />
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary btn-lg m-1"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-success btn-lg btn-block m-1">
              Confirmar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal{{ m.idMotivo }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Eliminar motivo de desasignación
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quiere eliminar el registro {{ m.idMotivo }}?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <form
          action="/web/motivo_desasignacion/eliminarMotivo_desasignacion_web"
          method="POST"
        >
          <input type="number" value="{{m.idMotivo}}" name="idMotivo" hidden />
          <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script>
  (async function () {
    cargarTableMotivos();
  })();

  function cargarTableMotivos() {
    const tableMotivos = new Tabulator("#tabla-motivos", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: "/json/motivo_desasignacion/get_motivos_desasignacion",
      ajaxConfig: "GET",

      columns: [
        {
          title: "ID",
          field: "idMotivo",
          hozAlign: "center",
          editor: false,
          width: 60,
          headerFilter: "input",
        },
        {
          title: "Descripción",
          field: "descripcion",
          editor: false,
          headerFilter: "input",
        },
        {
          title: "Acciones",
          hozAlign: "center",
          width: 225,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <div class="d-flex gap-3 justify-content-center">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#editModal${data.idMotivo}"
                >
                  <img src="/static/img/edit-icon.png" height="15px" width="15px" />
                  <strong>Editar</strong>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal${data.idMotivo}"
                >
                  <img
                    src="/static/img/delete-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Eliminar</strong>
                </button>
              </div>
              `;
          },
        },
      ],
    });
  }
</script>
{% endblock %}
