<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    {% if current_user.is_authenticated and
    current_user.tiene_permiso("panel.administrador") %}
    <button
      class="btn btn-dark btn-lg"
      data-bs-toggle="offcanvas"
      href="#offcanvasPanel"
      role="button"
      aria-controls="offcanvasPanel"
    >
      <i class="bi bi-sliders"></i>
    </button>
    {% endif %}
    <a class="navbar-brand" href="/template/home/home">
      <img src="/static/img/logo.png" alt="logo" width="60" height="60" />
      <h1 class="logo" style="text-transform: uppercase; margin-left: 10px">
        <a href="/template/home/home"></a>
      </h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'home_template.index' %}active{% endif %}"
            href="{{ url_for('home_template.index') }}"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'programacion_template.programaciones_general' %}active{% endif %}"
            href="{{ url_for('programacion_template.programaciones_general') }}"
            >Programación</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'autorizacion_template.parametros_autorizacion_horas_template' %}active{% endif %}"
            href="{{ url_for('autorizacion_template.parametros_autorizacion_horas_template') }}"
            >Autorización de horas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.endpoint == 'estadisticas_template.parametros_estadisticas_template' %}active{% endif %}"
            href="{{ url_for('estadisticas_template.parametros_estadisticas_template') }}"
            >Estadísticas</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div class="d-flex gap-3">
        <a href="http://190.190.0.75/login" target="_blank">
          <div class="d-flex justify-content-between align-items-center">
            <img
              src="/static/img/iso-logo.png"
              height="40px"
              width="40px"
              alt=""
            />
            <p class="d-flex align-items-center mb-0 fs-5">Ir a ISO</p>
          </div>
        </a>
        <a href="/web/usuario/logout">
          <div class="d-flex justify-content-between align-items-center">
            <img
              src="/static/img/logout.png"
              height="40px"
              width="40px"
              alt=""
            />
            <p class="d-flex align-items-center mb-0 fs-5">Cerrar sesión</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasPanel"
  aria-labelledby="offcanvasPanelLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasPanelLabel">Panel</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column">
      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/feriado/listaFeriados"
        >Calendario de feriados</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/centro_de_costo/listaCentros_de_costo"
        >Centro de costo</a
      >
      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/configuracion/listaConfiguraciones"
        >Configuración</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/departamento/listaDepartamentos"
        >Departamento</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/empleado/listaEmpleados"
        >Empleado</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/horario/listaHorarios"
        >Horario</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/importacion/listaImportaciones"
        >Importación</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/linea/listaLineas"
        >Línea</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/motivo_desasignacion/listaMotivos_desasignacion"
        >Motivo de desasignación</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/permiso/listaPermisos"
        >Permiso</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/proceso/listaProcesos"
        >Proceso</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/programacion/listaProgramaciones"
        >Programación</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/rol/listaRoles"
        >Rol</a
      >

      <a
        class="btn btn-light border border-secondary-subtle mb-1 text-start"
        href="/template/usuario/listaUsuarios"
        >Usuario</a
      >
    </div>
  </div>
</div>
