<div class="sidebar list-group list-group-flush mt-3">
  <a href="/template/error/404" class="list-group-item list-group-item-action">
    Dashboard
  </a>

  <div class="sidebar-item list-group-item list-group-item-action">
    Centro de costo &rarr;
    <div class="dropdown-sb">
      <a href="/template/centro_de_costo/crearCentro_de_costo"
        >Crear centro de costo</a
      >
      <a href="/template/centro_de_costo/listaCentros_de_costo"
        >Lista de centro de costo</a
      >
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Departamento &rarr;
    <div class="dropdown-sb">
      <a href="/template/departamento/crearDepartamento">Crear departamento</a>
      <!-- <a href="#">Modificar departamento</a>
      <a href="#">Eliminar departamento</a> -->
      <a href="/template/departamento/listaDepartamentos"
        >Lista de departamentos</a
      >
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Empleado &rarr;
    <div class="dropdown-sb">
      <a href="/template/empleado/crearEmpleado">Crear empleado</a>
      <!-- <a href="#">Modificar empleado</a>
      <a href="#">Eliminar empleado</a> -->
      <a href="/template/empleado/listaEmpleados">Lista de empleados</a>
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Línea &rarr;
    <div class="dropdown-sb">
      <a href="/template/linea/crearLinea">Crear línea</a>
      <!-- <a href="#">Modificar línea</a>
      <a href="#">Eliminar línea</a> -->
      <a href="/template/linea/listaLineas">Lista de líneas</a>
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Motivo desasignación &rarr;
    <div class="dropdown-sb">
      <a href="/template/motivo_desasignacion/crearMotivo_desasignacion"
        >Crear motivo</a
      >
      <!-- <a href="#">Modificar línea</a>
      <a href="#">Eliminar línea</a> -->
      <a href="/template/motivo_desasignacion/listaMotivos_desasignacion"
        >Lista de motivos</a
      >
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Permiso &rarr;
    <div class="dropdown-sb">
      <a href="/template/permiso/crearPermiso">Crear permiso</a>
      <!-- <a href="#">Modificar línea</a>
      <a href="#">Eliminar línea</a> -->
      <a href="/template/permiso/listaPermisos">Lista de permisos</a>
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Proceso &rarr;
    <div class="dropdown-sb">
      <a href="/template/proceso/crearProceso">Crear proceso</a>
      <!-- <a href="#">Modificar proceso</a>
      <a href="#">Eliminar proceso</a> -->
      <a href="/template/proceso/listaProcesos">Lista de procesos</a>
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Programación &rarr;
    <div class="dropdown-sb">
      <!-- <a href="#">Reabrir programación</a> -->
      <!-- <a href="#">Eliminar programación</a> -->
      <a href="/template/programacion/listaProgramaciones"
        >Lista de programaciones</a
      >
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Rol &rarr;
    <div class="dropdown-sb">
      <a href="/template/rol/crearRol">Crear rol</a>
      <!-- <a href="#">Modificar rol</a>
      <a href="#">Asignar rutas al rol</a> -->
      <!-- <a href="#">Eliminar rol</a> -->
      <a href="/template/rol/listaRoles">Lista de roles</a>
    </div>
  </div>

  <!-- <div class="sidebar-item list-group-item list-group-item-action">
    Rutas por rol &rarr;
    <div class="dropdown-sb">
      <a href="#">Crear ruta para rol</a>
      <a href="#">Modificar ruta para rol</a>
      <a href="#">Eliminar ruta para rol</a>
      <a href="#">Lista de rutas para rol</a>
    </div>
  </div> -->

  <div class="sidebar-item list-group-item list-group-item-action">
    Ruta &rarr;
    <div class="dropdown-sb">
      <a href="/template/ruta/crearRuta">Crear ruta</a>
      <!-- <a href="#">Modificar ruta</a>
      <a href="#">Eliminar ruta</a> -->
      <a href="/template/ruta/listaRutas">Lista de rutas</a>
    </div>
  </div>

  <div class="sidebar-item list-group-item list-group-item-action">
    Usuarios &rarr;
    <div class="dropdown-sb">
      <a href="/template/usuario/crearUsuario">Crear usuario</a>
      <!-- <a href="#">Modificar usuario</a>
      <a href="#">Asignar rol a usuario</a>
      <a href="#">Eliminar usuario</a> -->
      <a href="/template/usuario/listaUsuarios">Lista de usuarios</a>
    </div>
  </div>
</div>
