{% extends "layout/base.html" %} {% block title %} Programación {% for d in
departamentos %} {% if d.idDepartment == idDepartment %} {{ d.name }} {% endif
%} {% endfor %} {{ fecha }} - Turnos Bonin {% endblock %} {% block content %} {%
with messages = get_flashed_messages(with_categories=true) %} {% for category,
message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endwith %}
<div class="card card-outline-secondary bg-dark text-light mt-3">
  <div class="card-body">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Detalles
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="programacion-parent">
              <div
                class="encabezado__text encabezado__text-bold dia-fecha-text__programacion"
              >
                Día y Fecha
              </div>
              <div
                class="encabezado__text encabezado__text-bold departamento-text__programacion"
              >
                Departamento
              </div>
              <div
                class="encabezado__text encabezado__text-bold elaborado-por__programacion"
              >
                Elaborado por
              </div>
              <div
                class="encabezado__text encabezado__text-bold cena-sin-costo-text__programacion"
              >
                Total cenas sin costo
              </div>
              <div
                class="encabezado__text encabezado__text-bold cena-con-costo-text__programacion"
              >
                Total cenas con costo
              </div>
              <div
                class="encabezado__text encabezado__text-bold almuerzos-sin-costo-text__programacion"
              >
                Total almuerzos
              </div>
              <div
                class="encabezado__text encabezado__text-bold transporte-text__programacion"
              >
                Total transporte
              </div>
              <div class="encabezado__text transporte-data__programacion">
                0
              </div>
              <div class="encabezado__text cena-sin-costo-data__programacion">
                0
              </div>
              <div class="encabezado__text cena-con-costo-data__programacion">
                0
              </div>
              <div
                class="encabezado__text almuerzos-sin-costo-data__programacion"
              >
                0
              </div>
              <div
                class="encabezado__text encabezado__text-yellow dia-fecha-data__programacion"
                data-fecha="{{ fecha }}"
              ></div>
              <div
                class="encabezado__text encabezado__text-yellow departamento-data__programacion"
                data-id-department="{{ idDepartment }}"
              >
                {% for d in departamentos %} {% if d.idDepartment ==
                idDepartment %} {{ d.name }} {% endif %} {% endfor %}
              </div>
              <div
                class="encabezado__text encabezado__text-yellow elaborado-por-data__programacion"
              >
                {% for u in usuarios %} {% if u.idUsuario ==
                programacion_actual.elaborado_por%} {{ u.nombre }} {% endif %}
                {% endfor %}
                <label name="encabezado__text elaborado_por" id="elaborado_por">
                </label>
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-sin-costo encabezado__text-bold horario-diurno-text__programacion"
              >
                Aplica cena sin costo
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-sin-costo horario-diurno-data__programacion"
              >
                Horario de 7:00 a 20:00 / 21:00 horas
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-con-costo encabezado__text-bold horario-nocturno-text__programacion"
              >
                Aplica cena con costo
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-con-costo horario-nocturno-data__programacion"
              >
                Horario de 18:00 a 06:00
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-bus encabezado__text-bold horario-bus-text__programacion"
              >
                Aplica bus
              </div>
              <div
                class="encabezado__text encabezado__text-horario encabezado__text-bus horario-bus-data__programacion"
              >
                21:00 (únicamente)
              </div>
              <div
                class="encabezado__text encabezado__text-bold asueto-text__programacion"
              >
                Asueto
              </div>
              <div class="encabezado__text asueto-data__programacion"></div>
              <div
                class="encabezado__text encabezado__text-bold estado-text__programacion"
              >
                Estado
              </div>
              <div class="encabezado__text estado-data__programacion">
                {{ programacion_actual.estado }}
              </div>
              <div
                class="encabezado__text encabezado__text-bold verificado_por-text"
              >
                Verificado por
              </div>
              <div class="encabezado__text verificado_por-data">
                {% for u in usuarios %} {% if u.idUsuario ==
                programacion_actual.verificado_por %} {{ u.nombre }} {% endif %}
                {% endfor %}
              </div>
              <div class="card card-tabla-totales card-outline-white bg-dark">
                <div class="card-body">
                  <h5 class="text-light">
                    Resumen de empleados asignados por línea
                  </h5>
                  <hr />
                  <div id="tabla-totales"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Filtros avanzados
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="filters">
              <div class="filters__grid">
                <div class="filter-area filter-estado">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Estados</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container estados-container"></div>
                </div>
                <div class="filter-area filter-empleado">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Empleados</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container empleados-container"></div>
                </div>
                <div class="filter-area filter-centro">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Centros de costo</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container centros-container"></div>
                </div>
                <div class="filter-area filter-linea">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Líneas</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container lineas-container"></div>
                </div>
                <div class="filter-area filter-proceso">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Procesos</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container procesos-container"></div>
                </div>
                <div class="filter-area filter-usuario">
                  <div class="d-flex justify-content-between p-3">
                    <h4>Usuarios</h4>
                    <div>
                      <button class="filter-area__btn-select-all btn btn-light">
                        <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                  <div class="filters-container usuarios-container"></div>
                </div>
              </div>
              <div class="filters__button">
                <button
                  class="btn btn-warning filters__button-aplicar-filtros"
                  type="button"
                >
                  Aplicar filtros
                </button>
                <button
                  class="btn btn-danger filters__button-borrar-filtros"
                  type="button"
                >
                  Borrar filtros
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between gap-3 m-3">
    <div class="d-flex justify-content-between gap-3">
      <button
        onclick="descargarExcel('{{ programacion_actual.idProgramacion}}')"
        id="descargar-excel"
        class="btn btn-success"
      >
        Descargar Excel
      </button>
      <button
        onclick="descargarPDF('{{ programacion_actual.idProgramacion}}')"
        id="descargar-pdf"
        class="btn btn-danger"
      >
        Descargar PDF
      </button>
    </div>
    <div>
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#validarAsignacionesModal"
        id="btn-validar"
        class="btn btn-warning"
      >
        <strong>Validar empleados asignados</strong>
      </button>
    </div>
  </div>

  <div id="tabla-registros"></div>
</div>

<!-- validarAsignacionesModal -->
<div
  class="modal fade"
  id="validarAsignacionesModal"
  tabindex="-1"
  aria-labelledby="validarAsignacionesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="validarAsignacionesModalLabel">
          Validación de empleados asignados a cada línea
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="tabla-confirmacion"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Seguir asignando
        </button>
        <button
          onclick="confirmarAsignacionesForm_submit()"
          type="button"
          class="btn btn-success"
        >
          Confirmar verificación
        </button>
      </div>
    </div>
  </div>
</div>

<form
  hidden
  id="confirmarAsignacionesForm"
  action="/web/programacion/confirmar_verificacion_programacion_web"
  method="POST"
>
  <input
    type="number"
    name="idProgramacion"
    id="idProgramacion_asignacion"
    value="{{ programacion_actual.idProgramacion }}"
  />
  <input
    type="number"
    name="verificado_por"
    id="verificado_por_asignacion"
    value="{{ current_user.id }}"
  />
  <input
    type="number"
    name="idDepartment"
    id="idDepartment_asignacion"
    value="{{ idDepartment }}"
  />
  <input type="text" name="fecha" id="fecha_asignacion" value="{{ fecha }}" />
</form>

<!-- Session expired Modal -->
<div
  class="modal fade"
  id="sessionExpiredModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title">Sesión expirada</h5>
      </div>

      <div class="modal-body">Tu sesión expiró por inactividad.</div>
      <hr />
      <form id="reauthForm" class="p-4">
        <div class="mb-3">
          <label class="form-label">Usuario</label>

          <input type="text" class="form-control" id="reauthUser" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Contraseña</label>

          <input
            type="password"
            class="form-control"
            id="reauthPassword"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Renovar sesión</button>
      </form>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!-- Motivo Desasignacion Modal -->
<div
  class="modal fade"
  id="desasignacionModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title">Motivo de de desasignación</h5>
      </div>

      <div class="modal-body">
        Seleccione el motivo por el cual se está desasignando este turno
      </div>
      <hr />
      <form id="desasignacionForm" class="p-4">
        <div class="mb-3">
          <label class="form-label">Motivo Desasignación</label>

          <select
            type="number"
            class="form-control"
            id="idMotivo"
            title="Departamento"
            required
            name="idMotivo"
          >
            <option selected disabled value="{{ None }}">
              -- Seleccione una opción --
            </option>
            {% for m in motivos %}
            <option value="{{ m.idMotivo }}">{{ m.descripcion }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">idRegistro</label>

          <input
            type="number"
            class="form-control"
            id="idRegistroDesasignacion"
            name="idRegistro"
            required
          />
        </div>

        <button type="submit" class="btn btn-danger">Desasignar turno</button>
      </form>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script>
  function confirmarAsignacionesForm_submit() {
    document.getElementById("confirmarAsignacionesForm").submit();
  }

  /* Formato a fecha del encabezado */
  const diaFecha = document.querySelector(".dia-fecha-data__programacion");
  const fechaSinFormato = new Date(Date.parse(diaFecha.dataset.fecha));
  const localePrincipal = navigator.language;
  const options = {
    month: "long",
    year: "numeric",
    day: "numeric",
    weekday: "long",
  };

  // const [year, month, day] = diaFecha.dataset.fecha.split("-");
  const [year, month, day] = "{{ fecha }}".split("-");

  const fechaHoraLocal = new Date(year, month - 1, day);

  const fechaConFormato = new Intl.DateTimeFormat(
    localePrincipal,
    options,
  ).format(fechaHoraLocal);

  diaFecha.textContent = `${fechaConFormato[0].toUpperCase() + fechaConFormato.slice(1)}`;
</script>

<script>
  const fechaProgramacion = document.querySelector(
    ".dia-fecha-data__programacion",
  ).dataset.fecha;

  const idDepartmentProgramacion = document.querySelector(
    ".departamento-data__programacion",
  ).dataset.idDepartment;
</script>

<script>
  const idProgramacion = "{{ programacion_actual.idProgramacion }}";
  async function obtenerFeriados() {
    const response = await fetch(
      "/json/feriado/get_fechas_de_feriados_formateados",
    );

    return await response.json();
  }

  async function apiFetch(url, options = {}) {
    try {
      const response = await fetch(url, options);

      if (response.status === 401) {
        mostrarSesionExpiradaModal();
        return null;
      }

      if (!response.ok) {
        throw new Error(`HTTP ${response.status}`);
      }

      const contentType = response.headers.get("content-type");

      if (!contentType?.includes("application/json")) {
        throw new Error("Respuesta no válida");
      }

      return await response.json();
    } catch (error) {
      console.error(error);

      alert("Ocurrió un error de comunicación con el servidor.");

      return null;
    }
  }

  (async function asignarFeriado() {
    const dataAsueto = document.querySelector(".asueto-data__programacion");
    const feriadosGT = await obtenerFeriados();
    const fechaMesDia = `${month}-${day}`;

    dataAsueto.textContent = feriadosGT.includes(fechaMesDia) ? "SÍ" : "NO";
  })();

  let empleados = {};
  let empleadosDataMap = {};
  let lineas = {};
  let procesos = {};
  let centrosDeCosto = {};
  let usuarios = {};

  let filtros = {};

  (async function () {
    async function cargarCatalogos() {
      const [
        empleadosResponse,
        lineasResponse,
        procesoResponse,
        centrosResponse,
        usuariosResponse,
      ] = await Promise.all([
        fetch("/json/empleado/get_empleados"),
        fetch(
          `/json/linea/get_lineas_by_department/${idDepartmentProgramacion}`,
        ),
        fetch(
          `/json/proceso/get_procesos_by_department/${idDepartmentProgramacion}`,
        ),
        fetch("/json/centro_de_costo/get_centros_de_costo"),
        fetch("/json/usuario/get_usuarios"),
      ]);

      const empleadosData = await empleadosResponse.json();
      const lineasData = await lineasResponse.json();
      const procesosData = await procesoResponse.json();
      const centrosData = await centrosResponse.json();
      const usuariosData = await usuariosResponse.json();

      empleadosData.forEach((e) => {
        empleados[e.idEmpleado] =
          `${e.firstName} ${e.secondName ?? ""} ${e.lastName} ${e.lastName2 ?? ""}`;

        empleadosDataMap[e.idEmpleado] = e;
      });
      lineasData.forEach((l) => (lineas[l.idLinea] = l.nameLinea));
      procesosData.forEach((p) => (procesos[p.idProceso] = p.proceso));
      centrosData.forEach((c) => (centrosDeCosto[c.idCentro] = c.nombreCentro));
      usuariosData.forEach((u) => (usuarios[u.idUsuario] = u.nombre));
    }

    await cargarCatalogos();
    filtros = await cargarFiltros();
    crearFiltroEstados(filtros.estados);
    crearFiltroEmpleados(filtros.empleados);
    crearFiltroCentros(filtros.centros_de_costo);
    crearFiltroLineas(filtros.lineas);
    crearFiltroProcesos(filtros.procesos);
    crearFiltroUsuarios(filtros.usuarios);
  })();

  let table;
  (async function () {
    await esperarUserContext();
    const [year, month, day] = "{{ programacion_actual.fecha }}"
      .split("-")
      .map(Number);
    const fecha = new Date(year, month - 1, day);
    const canEdit = "{{ programacion_actual.estado }}" !== "CERRADO";
    let applyForTransport = false;

    table = new Tabulator("#tabla-registros", {
      theme: "site-dark",
      maxHeight: "650px",
      layout: "fitData",

      ajaxURL: `/json/registro/get_registros/${idProgramacion}`,
      ajaxConfig: "GET",
      ajaxResponse: function (url, params, response) {
        if (response.session_expired) {
          mostrarSesionExpiradaModal();
          return [];
        }

        return response;
      },

      columns: [
        /* { title: "ID", field: "idRegistro", width: 80 }, */
        {
          title: "Desasignar",
          hozAlign: "center",
          visible:
            tienePermiso("registro.desasignarTurno") && canEdit ? true : false,
          frozen: true,

          formatter: () => {
            if (!canEdit) {
              return "";
            }

            if (!tienePermiso("registro.desasignarTurno")) {
              return "";
            }

            return "<button class='btn btn-danger'>&cross;</button>";
          },
          cellClick: async function (e, cell) {
            let row = cell.getRow();
            let data = row.getData();
            let resp;
            let tieneMotivo = false;

            if (!canEdit) return;
            if (!tienePermiso("registro.desasignarTurno")) return;

            /* if (!data.idRegistro) {
                row.delete();
                return;
                } */
            try {
              if (tieneRol("Control de Programaciones RRHH")) {
                tieneMotivo = mostrarMotivoDesasignacionModal(data.idRegistro);
              }

              if (!tieneRol("Control de Programaciones RRHH")) {
                tieneMotivo = true;
              }

              if (!tieneMotivo) return;

              const resp = await apiFetch(
                `/json/registro/update_registro_to_nulls/${data.idRegistro}`,
                {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(data),
                },
              );

              if (!resp) {
                row.update({
                  _saveStatus: "error",
                });

                return;
              }

              refreshRowAndTotals(resp, row);

              if (resp.error) {
                row.update({
                  _saveStatus: "error",
                });
                throw new Error(resp.error);
              } else {
                await actualizarTotalesPorLinea();
                row.update({
                  ...resp,

                  _isNew: false,
                  _isDirty: false,
                  _saveStatus: "unassigned",
                });
              }

              recalcularTotales();
              tieneMotivo = false;
            } catch (error) {
              console.error(error);

              row.update({
                _saveStatus: "error",
              });

              // alert(error.message);
            }
          },
        },
        {
          title: "Estado",
          field: "_saveStatus",
          hozAlign: "center",
          visible: tienePermiso("registro.editar") && canEdit ? true : false,
          frozen: true,

          formatter: function (cell) {
            const value = cell.getValue();
            const row = cell.getRow();
            const data = row.getData();

            if (
              !data.idEmpleado &&
              !data.hora_inicio &&
              !data.hora_fin &&
              !data.idLinea &&
              !data.idProceso
            ) {
              value = "unassigned";
            }

            switch (value) {
              case "draft":
                return "🟡 Borrador";

              case "unassigned":
                return "⬜ Sin asignación";

              case "saving":
                return "💾 Guardando";

              case "saved":
                return "🟢 Guardado";

              case "editing":
                return "📝 Editando";

              case "error":
                return "🔴 Error";

              default:
                return "✅ Confirmado";
            }
          },

          headerFilter: "list",

          headerFilterParams: {
            values: {
              "": "Todos",
              editing: "Editando",
              error: "Error",
              saved: "Guardado",
              // saving: "Guardando",
              unassigned: "Sin asignación",
            },
          },
        },
        {
          title: "Guardar",
          hozAlign: "center",
          visible: tienePermiso("registro.editar") && canEdit ? true : false,
          frozen: true,

          formatter: function () {
            if (!canEdit) {
              return "";
            }

            if (!tienePermiso("registro.editar")) {
              return "";
            }

            return `
                <button class="btn btn-success btn-sm">
                  💾
                </button>
              `;
          },

          cellClick: async function (e, cell) {
            const row = cell.getRow();
            const data = row.getData();

            // VALIDACIÓN
            if (
              !data.idEmpleado ||
              !data.hora_inicio ||
              !data.hora_fin ||
              !data.idLinea ||
              !data.idProceso
            ) {
              row.update({
                _saveStatus: "error",
              });
              alert("Complete los campos obligatorios");
              return;
            }

            if (!canEdit) return;

            row.update({
              _saveStatus: "saving",
            });

            try {
              let resp;

              // CREATE
              if (data._isNew) {
                if (!data.idRegistro && !data._isNew) {
                  alert("Fila sin ID válido");
                  return;
                }
                resp = await apiFetch("/json/registro/create_registro", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(data),
                });
              } else {
                // UPDATE
                resp = await apiFetch(
                  `/json/registro/update_registro/${data.idRegistro}`,
                  {
                    method: "PUT",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                  },
                );
              }

              if (!resp) {
                row.update({
                  _saveStatus: "error",
                });

                return;
              }

              // const resp = await response.json();
              refreshRowAndTotals(resp, row);

              if (resp.error) {
                row.update({
                  _saveStatus: "error",
                });
                throw new Error(resp.error);
              } else {
                await actualizarTotalesPorLinea();
                row.update({
                  ...resp,

                  _isNew: false,
                  _isDirty: false,
                  _saveStatus: "saved",
                });
              }

              recalcularTotales();
            } catch (error) {
              console.error(error);

              row.update({
                _saveStatus: "error",
              });

              // alert(error.message);
            }
          },
        },
        {
          title: "ID empleado",
          field: "idEmpleado",
          editor: false,
          visible: true,
          frozen: true,

          headerFilter: "input",
        },
        {
          title: "Badge",
          field: "badgeNumber",
          editor: false,
          visible: true,
          frozen: true,

          headerFilter: "input",
        },
        {
          title: "Empleado",
          field: "idEmpleado",
          frozen: true,
          editor: false,

          formatter: function (cell) {
            return (
              empleados[cell.getValue()] ||
              "<span style='color:gray'>Seleccione...</span>"
            );
          },

          editorParams: {
            values: empleados,
            autocomplete: true,
            // clearable: true,
          },

          sorter: function (a, b) {
            return (empleados[a] || "").localeCompare(empleados[b] || "");
          },

          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (empleados[cellValue] || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Centro de costo",
          field: "idCentro",
          editor: false,
          headerFilter: "input",
          editorParams: {
            values: centrosDeCosto,
          },

          formatter: function (cell) {
            return centrosDeCosto[cell.getValue()] || "—";
          },

          headerFilterFunc: function (filterValue, cellValue) {
            return (centrosDeCosto[cellValue] || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Línea",
          field: "idLinea",
          editor:
            canEdit && tienePermiso("registro.asignarLineaOProceso")
              ? "list"
              : false,

          editorParams: {
            values: lineas,
            autocomplete: true,
          },

          formatter: function (cell) {
            return lineas[cell.getValue()] || "—";
          },

          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (lineas[cellValue] || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Proceso",
          field: "idProceso",
          editor:
            canEdit && tienePermiso("registro.asignarLineaOProceso")
              ? "list"
              : false,

          editorParams: {
            values: procesos,
            autocomplete: true,
          },

          formatter: function (cell) {
            return procesos[cell.getValue()] || "—";
          },

          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (procesos[cellValue] || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Hora Inicio",
          field: "hora_inicio",
          editor:
            canEdit && tienePermiso("registro.asignarHorario") ? "time" : false,

          formatterParams: {
            inputFormat: "HH:mm:ss",
            outputFormat: "HH:mm:ss",
          },

          editorParams: {
            format: "HH:mm:ss",
          },
          headerFilter: "input",
        },
        {
          title: "Hora Fin",
          field: "hora_fin",
          editor:
            canEdit && tienePermiso("registro.asignarHorario") ? "time" : false,
          // formatter: "datetime",
          formatterParams: {
            inputFormat: "HH:mm:ss",
            outputFormat: "HH:mm",
          },

          editorParams: {
            format: "HH:mm:ss",
          },

          headerFilter: "input",
        },
        {
          title: "Fecha",
          field: "fecha",
          editor: false,
          visible: false,
        },
        {
          title: "Transporte",
          field: "aplica_transporte",
          hozAlign: "center",
          formatter: "tickCross",
          editor:
            canEdit && tienePermiso("registro.asignarTransporte")
              ? true
              : false,

          editable: function (cell) {
            const data = cell.getRow().getData();

            return (
              canEdit &&
              tienePermiso("registro.editar") &&
              aplicaTransporteHorario(data)
            );
          },

          headerFilter: "list",

          headerFilterParams: {
            values: {
              "": "Todos",
              1: "Sí",
              0: "No",
            },
          },

          headerFilterFunc: function (value, rowValue) {
            if (value === "") return true;

            return Number(rowValue) === Number(value);
          },
        },
        {
          title: "Dirección",
          field: "observacion_transporte",
          editor:
            canEdit && tienePermiso("registro.asignarTransporte")
              ? "input"
              : false,

          editable: function (cell) {
            const data = cell.getRow().getData();

            return (
              canEdit &&
              tienePermiso("registro.editar") &&
              aplicaTransporteHorario(data)
            );
          },
        },
        {
          title: "Almuerzo",
          field: "aplica_almuerzo",
          hozAlign: "center",
          editor: false,
          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },

          headerFilter: "list",

          headerFilterParams: {
            values: {
              "": "Todos",
              1: "Sí",
              0: "No",
            },
          },

          headerFilterFunc: function (value, rowValue) {
            if (value === "") return true;

            return Number(rowValue) === Number(value);
          },
        },
        {
          title: "Cena sin costo",
          field: "aplica_cena",
          hozAlign: "center",
          editor: false,

          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },

          headerFilter: "list",

          headerFilterParams: {
            values: {
              "": "Todos",
              1: "Sí",
              0: "No",
            },
          },

          headerFilterFunc: function (value, rowValue) {
            if (value === "") return true;

            return Number(rowValue) === Number(value);
          },
        },
        {
          title: "Cena con costo",
          field: "cena_con_costo",
          hozAlign: "center",
          editor: false,

          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },

          headerFilter: "list",

          headerFilterParams: {
            values: {
              "": "Todos",
              1: "Sí",
              0: "No",
            },
          },

          headerFilterFunc: function (value, rowValue) {
            if (value === "") return true;

            return Number(rowValue) === Number(value);
          },
        },
        {
          title: "Última modificación",
          field: "ultima_modificacion",
          editor: false,
          formatter: "datetime",
          formatterParams: {
            inputFormat: "yyyy-MM-dd HH:mm:ss",
            outputFormat: "dd/MM/yyyy HH:mm",
          },
        },
        {
          title: "Usuario que modificó",
          field: "usuario_modificacion",
          editor: false,
          editorParams: {
            values: usuarios,
          },

          formatter: function (cell) {
            return usuarios[cell.getValue()] || "—";
          },

          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (usuarios[cellValue] || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
      ],

      dataLoaded: function () {
        recalcularTotales();
      },

      rowAdded: function () {
        recalcularTotales();
      },

      rowDeleted: function () {
        recalcularTotales();
      },

      rowFormatter: function (row) {
        const el = row.getElement();
        el.classList.remove("red-row");
        el.classList.remove("green-row");
        el.classList.remove("yellow-row");

        const { idLinea, idProceso, hora_inicio, hora_fin, _saveStatus } =
          row.getData();

        if (row.getData()._saveStatus === "error") {
          el.classList.add("red-row");
        } else if (row.getData()._saveStatus === "editing") {
          el.classList.add("yellow-row");
        } else if (idLinea && idProceso && hora_inicio && hora_fin) {
          el.classList.add("green-row");
        }
      },
    });

    let updateTimeouts = {};

    table.on("dataChanged", recalcularTotales);

    table.on("cellEdited", async function (cell) {
      const row = cell.getRow();
      const data = row.getData();

      updateAlmuerzoOrCenaField(cell);
      updateIdEmpleadoAndBadgeField(cell);
      changeRowState(cell);
      puedeSolicitarTransporte(cell);

      recalcularTotales();

      const field = cell.getField();

      const id = data.idRegistro;

      if (!id) return;

      const el = row.getElement();
      el.classList.remove("red-row");
      el.classList.remove("green-row");
      el.classList.remove("yellow-row");

      if (row.getData()._saveStatus === "editing") {
        row.getElement().classList.add("yellow-row");
      } else if (row.getData()._saveStatus === "error") {
        row.getElement().classList.add("red-row");
      } else if (row.getData()._saveStatus === "saved") {
        row.getElement().classList.add("green-row");
      }

      await actualizarTotalesPorLinea();

      /* if (updateTimeouts[id]) {
          clearTimeout(updateTimeouts[id]);
        } */

      // Espera 800ms antes de guardar (debounce)
      /* updateTimeouts[id] = setTimeout(async () => {
          try {
            const response = await fetch(`/json/registro/update_registro/${id}`, {
              method: "PUT",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data),
            });
            const resp = await response.json();
            if (resp.error) {
              console.error(resp.error);
              return;
            }
          } catch (error) {
            console.error(error);
          }
        }, 800); */
    });

    table.on("tableBuilt", function () {
      setTimeout(() => {
        recalcularTotales();
      }, 0);
    });

    function horaASegundos(hora) {
      const [h, m, s] = hora.split(":").map(Number);

      return h * 3600 + m * 60 + s;
    }

    function aplicaTransporteHorario(data) {
      if (!data.hora_inicio || !data.hora_fin) {
        return false;
      }

      return (
        horaASegundos(data.hora_inicio) < horaASegundos("15:00:00") &&
        horaASegundos(data.hora_fin) >= horaASegundos("21:00:00")
      );
    }

    function puedeSolicitarTransporte(cell) {
      const field = cell.getField();

      if (field !== "hora_inicio" && field !== "hora_fin") {
        return;
      }

      const row = cell.getRow();
      const data = row.getData();

      if (!aplicaTransporteHorario(data)) {
        row.update({
          aplica_transporte: false,
          observacion_transporte: "",
        });
      }
    }

    function refreshRowAndTotals(resp, row) {
      row.update(resp);

      // recalcular UI derivada
      recalcularTotales();
    }

    function recalcularTotales() {
      const data = table.getData();

      let almuerzos = 0;
      let cenas_sin_costo = 0;
      let cenas_con_costo = 0;
      let total_transporte = 0;

      data.forEach((row) => {
        if (row.aplica_almuerzo === true || row.aplica_almuerzo === 1) {
          almuerzos++;
        }

        if (row.aplica_cena === true || row.aplica_cena === 1) {
          cenas_sin_costo++;
        }

        if (row.cena_con_costo === true || row.cena_con_costo === 1) {
          cenas_con_costo++;
        }
        if (row.aplica_transporte === true || row.aplica_transporte === 1) {
          total_transporte++;
        }
      });

      document.querySelector(
        ".almuerzos-sin-costo-data__programacion",
      ).innerText = almuerzos;
      document.querySelector(".cena-sin-costo-data__programacion").innerText =
        cenas_sin_costo;
      document.querySelector(".cena-con-costo-data__programacion").innerText =
        cenas_con_costo;
      document.querySelector(".transporte-data__programacion").innerText =
        total_transporte;
    }

    async function updateAlmuerzoOrCenaField(cell) {
      const field = cell.getField();

      if (field === "hora_inicio" || field === "hora_fin") {
        recalcularTotales();
        /* const row = cell.getRow();
          const data = row.getData();

          if (!data.idRegistro) return;

          try {
            const response = await fetch(
              `/json/registro/update_registro/${data.idRegistro}`,
              {
                method: "PUT",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              },
            );

            const resp = await response.json();
            refreshRowAndTotals(resp, row);

            row.update({
              aplica_almuerzo: resp.aplica_almuerzo,
              aplica_cena: resp.aplica_cena,
              cena_con_costo: resp.cena_con_costo,
            });

          } catch (error) {
            console.error(error);
          }*/
      }
    }

    function updateIdEmpleadoAndBadgeField(cell) {
      const field = cell.getField();

      if (field === "idEmpleado") {
        const row = cell.getRow();
        const data = row.getData();

        const empleado = empleadosDataMap[data.idEmpleado];

        if (!empleado) return;

        row.update({
          idEmpleado: empleado.idEmpleado,
          badgeNumber: empleado.badgeNumber,
          idCentro: empleado.idCentro,
        });

        row.reformat();
        // console.log(data);
      }
    }

    function changeRowState(cell) {
      const row = cell.getRow();
      const data = row.getData();

      data._isDirty = true;

      if (data._saveStatus !== "saving") {
        row.update({
          _saveStatus: data._isNew ? "draft" : "editing",
        });
      }
    }

    document
      .getElementById("descargar-pdf")
      .addEventListener("click", function () {
        table.download("pdf", "reporte.pdf", {
          orientation: "portrait",
          title: "Reporte",
        });
      });
  })();

  async function descargarExcel(idProgramacion) {
    window.open(
      `/json/reports/programacion/descargar_programacion/${idProgramacion}/isPDF=${0}`,
    );
  }

  async function descargarPDF(idProgramacion) {
    window.open(
      `/json/reports/programacion/descargar_programacion/${idProgramacion}/isPDF=${1}`,
    );
  }

  function tienePermiso(permiso) {
    return window.USER_CONTEXT?.permisos?.includes(permiso) ?? false;
  }

  function tieneRol(rol) {
    return window.USER_CONTEXT?.roles?.includes(rol) ?? false;
  }

  function puedeVerDepartamento(idDepartment) {
    if (window.USER_CONTEXT?.scopeGlobal) {
      return true;
    }

    return window.USER_CONTEXT?.departamentos?.some(
      (d) => d.idDepartment === idDepartment,
    );
  }

  const tableTotales = new Tabulator("#tabla-totales", {
    theme: "site-dark",
    height: "140px",
    layout: "fitData",

    ajaxURL: `/json/programacion/get_counts_by_line/${idProgramacion}/${idDepartmentProgramacion}`,
    ajaxConfig: "GET",
    ajaxResponse: function (url, params, response) {
      if (response.session_expired) {
        mostrarSesionExpiradaModal();
        return [];
      }

      return response;
    },

    columns: [
      {
        title: "ID",
        field: "idLinea",
        editor: false,
      },
      {
        title: "Línea",
        field: "nameLinea",
        editor: false,
      },
      {
        title: "Mínimo Requerido",
        field: "minimo_requerido",
        editor: false,
      },
      {
        title: "Total actual",
        field: "total_linea",
        editor: false,
      },
      {
        title: "Diferencia",
        field: "diferencia",
        editor: false,
      },
    ],
    rowFormatter: function (row) {
      const el = row.getElement();
      el.classList.remove("red-row");
      el.classList.remove("green-row");
      el.classList.remove("yellow-row");

      if (row.getData().diferencia > 0) {
        row.getElement().classList.add("red-row");
      } else if (row.getData().diferencia == 0) {
        row.getElement().classList.add("green-row");
      } else if (row.getData().diferencia < 0) {
        row.getElement().classList.add("yellow-row");
      }
    },
  });

  let updatingTotals = false;

  async function actualizarTotalesPorLinea() {
    if (updatingTotals) return;

    updatingTotals = true;

    try {
      await tableTotales.replaceData(
        `/json/programacion/get_counts_by_line/${idProgramacion}/${idDepartmentProgramacion}`,
      );
      await tableConfirmacion.replaceData(
        `/json/programacion/get_counts_by_line/${idProgramacion}/${idDepartmentProgramacion}`,
      );
    } catch (error) {
      console.error(error);
    } finally {
      updatingTotals = false;
    }
  }

  document
    .querySelector(".card-tabla-totales")
    .addEventListener("mouseenter", function () {
      tableTotales.setHeight("350px");
      tableTotales.redraw(true);
    });

  document
    .querySelector(".card-tabla-totales")
    .addEventListener("mouseleave", function () {
      tableTotales.setHeight("140px");
      tableTotales.redraw(true);
    });

  const tableConfirmacion = new Tabulator("#tabla-confirmacion", {
    theme: "site-dark",
    height: "fitData",
    layout: "fitColumns",

    ajaxURL: `/json/programacion/get_counts_by_line/${idProgramacion}/${idDepartmentProgramacion}`,
    ajaxConfig: "GET",
    ajaxResponse: function (url, params, response) {
      if (response.session_expired) {
        mostrarSesionExpiradaModal();
        return [];
      }

      return response;
    },

    columns: [
      {
        title: "ID",
        field: "idLinea",
        editor: false,
      },
      {
        title: "Línea",
        field: "nameLinea",
        editor: false,
      },
      {
        title: "Mínimo Requerido",
        field: "minimo_requerido",
        editor: false,
      },
      {
        title: "Total actual",
        field: "total_linea",
        editor: false,
      },
      {
        title: "Diferencia",
        field: "diferencia",
        editor: false,
      },
    ],
    rowFormatter: function (row) {
      const el = row.getElement();
      el.classList.remove("red-row");

      if (row.getData().diferencia > 0) {
        row.getElement().classList.add("red-row");
      } else if (row.getData().diferencia == 0) {
        row.getElement().classList.add("green-row");
      } else if (row.getData().diferencia < 0) {
        row.getElement().classList.add("yellow-row");
      }
    },
  });

  let sessionModalVisible = false;

  function mostrarSesionExpiradaModal() {
    if (sessionModalVisible) return;

    sessionModalVisible = true;

    const modal = new bootstrap.Modal(
      document.getElementById("sessionExpiredModal"),
      {
        backdrop: "static",
        keyboard: false,
      },
    );

    modal.show();
    usernameInput.focus();
  }

  const reauthForm = document.getElementById("reauthForm");

  reauthForm.addEventListener("submit", async function (e) {
    e.preventDefault();
    const usernameInput = document.getElementById("reauthUser");
    const passwordInput = document.getElementById("reauthPassword");

    const username = usernameInput.value;
    const password = passwordInput.value;

    try {
      const response = await fetch("/json/usuario/reauth", {
        method: "POST",

        headers: {
          "Content-Type": "application/json",
        },

        body: JSON.stringify({
          username,
          password,
        }),
      });

      const resp = await response.json();

      if (!resp.success) {
        alert("Credenciales inválidas");
        return;
      }

      sessionModalVisible = false;

      bootstrap.Modal.getInstance(
        document.getElementById("sessionExpiredModal"),
      ).hide();

      usernameInput.value = passwordInput.value = "";

      alert("Sesión renovada");
    } catch (error) {
      console.error(error);
    }
  });

  function mostrarMotivoDesasignacionModal(idRegistro) {
    return new Promise((resolve) => {
      const idRegistroInput = document.getElementById(
        "idRegistroDesasignacion",
      );
      idRegistroInput.value = idRegistro;

      const modal = new bootstrap.Modal(
        document.getElementById("desasignacionModal"),
        {
          backdrop: "static",
          keyboard: false,
        },
      );

      modal.show();

      const form = document.getElementById("desasignacionForm");

      const submitHandler = async (e) => {
        e.preventDefault();

        const idMotivo = document.getElementById("idMotivo").value;

        const response = await fetch(
          "/json/registro_motivo_desasignacion/createRegistro_registro_motivo_desasignacion",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              idRegistro,
              idMotivo,
            }),
          },
        );

        const resp = await response.json();

        if (!resp.success) {
          alert("No se pudo registrar el motivo");
          return;
        }

        form.removeEventListener("submit", submitHandler);

        modal.hide();

        resolve(true);
      };

      form.addEventListener("submit", submitHandler);
    });
  }

  async function esperarUserContext() {
    while (!window.USER_CONTEXT) {
      await new Promise((resolve) => setTimeout(resolve, 100));
    }
  }

  /* FILTROS */
  async function cargarFiltros() {
    const response = await fetch(
      `/json/programacion/get_filtros_programacion/${idDepartmentProgramacion}`,
    );

    return await response.json();
  }

  function crearFiltroEstados(estados) {
    const container = document.querySelector(".estados-container");

    estados.forEach((estado, index) => {
      const id = `estado_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-estado"
                  id="${id}"
                  value="${estado}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${estado}
              </label>
          `;
    });
  }

  function crearFiltroEmpleados(empleados) {
    const container = document.querySelector(".empleados-container");

    empleados.forEach((empleado, index) => {
      const id = `empleado_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-empleado"
                  id="${id}"
                  value="${empleado.idEmpleado}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${empleado.nombre_completo}
              </label>
          `;
    });
  }

  function crearFiltroCentros(centros) {
    const container = document.querySelector(".centros-container");

    centros.forEach((centro, index) => {
      const id = `centro_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-centro"
                  id="${id}"
                  value="${centro.idCentro}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${centro.nombreCentro}
              </label>
          `;
    });
  }

  function crearFiltroLineas(lineas) {
    const container = document.querySelector(".lineas-container");

    lineas.forEach((linea, index) => {
      const id = `linea_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-linea"
                  id="${id}"
                  value="${linea.idLinea}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${linea.nameLinea}
              </label>
          `;
    });
  }

  function crearFiltroProcesos(procesos) {
    const container = document.querySelector(".procesos-container");

    procesos.forEach((proceso, index) => {
      const id = `proceso_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-proceso"
                  id="${id}"
                  value="${proceso.idProceso}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${proceso.proceso}
              </label>
          `;
    });
  }

  function crearFiltroUsuarios(usuarios) {
    const container = document.querySelector(".usuarios-container");

    usuarios.forEach((usuario, index) => {
      const id = `usuario_${index}`;

      container.innerHTML += `
              <input
                  type="checkbox"
                  class="btn-check filtro-usuario"
                  id="${id}"
                  value="${usuario.idUsuario}"
                  autocomplete="off"
              >

              <label
                  class="btn btn-outline-success m-1"
                  for="${id}">
                  ${usuario.nombre}
              </label>
          `;
    });
  }

  function convertirEstado(estadoInterno) {
    const estados = {
      editing: "Editando",
      error: "Error",
      saved: "Guardado",
      unassigned: "Sin asignación",
    };

    return estados[estadoInterno] || estadoInterno;
  }

  document
    .querySelector(".filters__button-aplicar-filtros")
    .addEventListener("click", aplicarFiltros);

  function aplicarFiltros() {
    const estadosSeleccionados = [
      ...document.querySelectorAll(".filtro-estado:checked"),
    ].map((c) => c.value);

    const empleadosSeleccionados = [
      ...document.querySelectorAll(".filtro-empleado:checked"),
    ].map((c) => Number(c.value));

    const centrosSeleccionados = [
      ...document.querySelectorAll(".filtro-centro:checked"),
    ].map((c) => Number(c.value));

    const lineasSeleccionadas = [
      ...document.querySelectorAll(".filtro-linea:checked"),
    ].map((c) => Number(c.value));

    const procesosSeleccionados = [
      ...document.querySelectorAll(".filtro-proceso:checked"),
    ].map((c) => Number(c.value));

    const usuariosSeleccionados = [
      ...document.querySelectorAll(".filtro-usuario:checked"),
    ].map((c) => Number(c.value));

    table.setFilter(function (data) {
      if (
        estadosSeleccionados.length &&
        !estadosSeleccionados.includes(convertirEstado(data._saveStatus))
      ) {
        return false;
      }

      if (
        empleadosSeleccionados.length &&
        !empleadosSeleccionados.includes(data.idEmpleado)
      ) {
        return false;
      }

      if (
        centrosSeleccionados.length &&
        !centrosSeleccionados.includes(data.idCentro)
      ) {
        return false;
      }

      if (
        lineasSeleccionadas.length &&
        !lineasSeleccionadas.includes(data.idLinea)
      ) {
        return false;
      }

      if (
        procesosSeleccionados.length &&
        !procesosSeleccionados.includes(data.idProceso)
      ) {
        return false;
      }

      if (
        usuariosSeleccionados.length &&
        !usuariosSeleccionados.includes(data.usuario_modificacion)
      ) {
        return false;
      }

      return true;
    });
  }

  document
    .querySelector(".filters__button-borrar-filtros")
    .addEventListener("click", limpiarFiltros);

  function limpiarFiltros() {
    document.querySelectorAll(".btn-check").forEach((c) => (c.checked = false));

    table.clearFilter();
  }

  const btnsSelectAll = document.querySelectorAll(
    ".filter-area__btn-select-all",
  );

  btnsSelectAll.forEach((btn) => {
    btn.addEventListener("click", function (e) {
      e.preventDefault();

      const filterArea = btn.closest(".filter-area");
      const filtersContainer = filterArea.querySelector(".filters-container");

      filtersContainer.querySelectorAll(".btn-check").forEach((c) => {
        if (btn.classList.contains("btn-success")) {
          c.checked = false;
        } else {
          c.checked = true;
        }
      });

      toggleBtnClass(btn);
    });
  });

  function toggleBtnClass(btn) {
    btn.classList.toggle("btn-light");
    btn.classList.toggle("btn-success");
  }
</script>

{% endblock %}
