{% extends "layout/base.html" %} {% block title %} Programación {% for d in
departamentos %} {% if d.idDepartment == idDepartment %} {{ d.name }} {% endif
%} {% endfor %} {{ fecha }} - Turnos Bonin {% endblock %} {% block content %} {%
with messages = get_flashed_messages(with_categories=true) %} {% for category,
message in messages %}
<div class="alert alert-{{ category }} alert-dismissible" role="alert">
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endwith %}
<div class="card card-outline-secondary bg-dark text-light mt-3">
  <div class="card-body">
    <div class="programacion-parent">
      <div
        class="encabezado__text encabezado__text-bold dia-fecha-text__programacion"
      >
        Día y Fecha
      </div>
      <div
        class="encabezado__text encabezado__text-bold departamento-text__programacion"
      >
        Departamento
      </div>
      <div
        class="encabezado__text encabezado__text-bold elaborado-por__programacion"
      >
        Elaborado por
      </div>
      <div
        class="encabezado__text encabezado__text-bold cena-sin-costo-text__programacion"
      >
        Total cenas sin costo
      </div>
      <div
        class="encabezado__text encabezado__text-bold cena-con-costo-text__programacion"
      >
        Total cenas con costo
      </div>
      <div
        class="encabezado__text encabezado__text-bold almuerzos-sin-costo-text__programacion"
      >
        Total almuerzos
      </div>
      <div class="encabezado__text cena-sin-costo-data__programacion">0</div>
      <div class="encabezado__text cena-con-costo-data__programacion">0</div>
      <div class="encabezado__text almuerzos-sin-costo-data__programacion">
        0
      </div>
      <div
        class="encabezado__text encabezado__text-yellow dia-fecha-data__programacion"
        data-fecha="{{ fecha }}"
      ></div>
      <div
        class="encabezado__text encabezado__text-yellow departamento-data__programacion"
        data-id-department="{{ idDepartment }}"
      >
        {% for d in departamentos %} {% if d.idDepartment == idDepartment %} {{
        d.name }} {% endif %} {% endfor %}
      </div>
      <div
        class="encabezado__text encabezado__text-yellow elaborado-por-data__programacion"
      >
        {% for u in usuarios %} {% if u.idUsuario ==
        programacion_actual.elaborado_por%} {{ u.nombre }} {% endif %} {% endfor
        %}
        <label name="encabezado__text elaborado_por" id="elaborado_por">
        </label>
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-sin-costo encabezado__text-bold horario-diurno-text__programacion"
      >
        Aplica cena sin costo
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-sin-costo horario-diurno-data__programacion"
      >
        Horario de 7:00 a 20:00 / 21:00 horas
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-con-costo encabezado__text-bold horario-nocturno-text__programacion"
      >
        Aplica cena con costo
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-con-costo horario-nocturno-data__programacion"
      >
        Horario de 18:00 a 06:00
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-bus encabezado__text-bold horario-bus-text__programacion"
      >
        Aplica bus
      </div>
      <div
        class="encabezado__text encabezado__text-horario encabezado__text-bus horario-bus-data__programacion"
      >
        21:00 (únicamente)
      </div>
      <div
        class="encabezado__text encabezado__text-bold asueto-text__programacion"
      >
        Asueto
      </div>
      <div class="encabezado__text asueto-data__programacion"></div>
      <div
        class="encabezado__text encabezado__text-bold estado-text__programacion"
      >
        Estado
      </div>
      <div class="encabezado__text estado-data__programacion">
        {{ programacion_actual.estado }}
      </div>
      <div class="encabezado__text encabezado__text-bold verificado_por-text">
        Verificado por
      </div>
      <div class="encabezado__text verificado_por-data">
        {% for u in usuarios %} {% if u.idUsuario ==
        programacion_actual.verificado_por %} {{ u.nombre }} {% endif %} {%
        endfor %}
      </div>
      <div class="card card-tabla-totales card-outline-white bg-dark">
        <div class="card-body">
          <h5 class="text-light">Resumen de empleados asignados por línea</h5>
          <hr />
          <div id="tabla-totales"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between gap-3 m-3">
    <div class="d-flex justify-content-between gap-3">
      <button
        onclick="descargarExcel('{{ programacion_actual.idProgramacion}}')"
        id="descargar-excel"
        class="btn btn-success"
      >
        Descargar Excel
      </button>
      <button
        onclick="descargarPDF('{{ programacion_actual.idProgramacion}}')"
        id="descargar-pdf"
        class="btn btn-danger"
      >
        Descargar PDF
      </button>
    </div>
    <div>
      <button
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#validarAsignacionesModal"
        id="btn-validar"
        class="btn btn-warning"
      >
        <strong>Validar empleados asignados</strong>
      </button>
    </div>
  </div>

  <div id="tabla-registros"></div>
</div>
<!-- validarAsignacionesModal -->
<div
  class="modal fade"
  id="validarAsignacionesModal"
  tabindex="-1"
  aria-labelledby="validarAsignacionesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="validarAsignacionesModalLabel">
          Validación de empleados asignados a cada línea
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="tabla-confirmacion"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Seguir asignando
        </button>
        <button
          onclick="confirmarAsignacionesForm_submit()"
          type="button"
          class="btn btn-success"
        >
          Confirmar verificación
        </button>
      </div>
    </div>
  </div>
</div>

<form
  hidden
  id="confirmarAsignacionesForm"
  action="/web/programacion/confirmar_verificacion_programacion_web"
  method="POST"
>
  <input
    type="number"
    name="idProgramacion"
    id="idProgramacion_asignacion"
    value="{{ programacion_actual.idProgramacion }}"
  />
  <input
    type="number"
    name="verificado_por"
    id="verificado_por_asignacion"
    value="{{ current_user.id }}"
  />
  <input
    type="number"
    name="idDepartment"
    id="idDepartment_asignacion"
    value="{{ idDepartment }}"
  />
  <input type="text" name="fecha" id="fecha_asignacion" value="{{ fecha }}" />
</form>

<script>
  function confirmarAsignacionesForm_submit() {
    document.getElementById("confirmarAsignacionesForm").submit();
  }

  /* Formato a fecha del encabezado */
  const diaFecha = document.querySelector(".dia-fecha-data__programacion");
  const fechaSinFormato = new Date(Date.parse(diaFecha.dataset.fecha));
  const localePrincipal = navigator.language;
  const options = {
    month: "long",
    year: "numeric",
    day: "numeric",
    weekday: "long",
  };

  // const [year, month, day] = diaFecha.dataset.fecha.split("-");
  const [year, month, day] = "{{ fecha }}".split("-");

  const fechaHoraLocal = new Date(year, month - 1, day);

  const fechaConFormato = new Intl.DateTimeFormat(
    localePrincipal,
    options,
  ).format(fechaHoraLocal);

  diaFecha.textContent = `${fechaConFormato[0].toUpperCase() + fechaConFormato.slice(1)}`;
</script>

<script>
  const fechaProgramacion = document.querySelector(
    ".dia-fecha-data__programacion",
  ).dataset.fecha;

  const idDepartmentProgramacion = document.querySelector(
    ".departamento-data__programacion",
  ).dataset.idDepartment;
</script>

<script>
  const idProgramacion = "{{ programacion_actual.idProgramacion }}";
  const feriadosGT = [
    "01-01", // Año nuevo
    "05-01", // Día del Trabajador
    "06-30", // Día del Ejército
    "09-15", // Día de la Independencia
    "10-20", // Día de la REvolución de 1944
    "11-01", // Día de Todos los Santos
    "12-25", // Navidad

    // Villa Nueva
    "12-08", // Feriado en Villa Nueva
  ];

  (function asignarFeriado() {
    const dataAsueto = document.querySelector(".asueto-data__programacion");
    const fechaMesDia = `${month}-${day}`;
    console.log(fechaMesDia);

    if (feriadosGT.includes(fechaMesDia)) {
      dataAsueto.textContent = "SÍ";
    } else {
      dataAsueto.textContent = "NO";
    }
  })();

  (async function () {
    const [year, month, day] = "{{ programacion_actual.fecha }}"
      .split("-")
      .map(Number);
    const fecha = new Date(year, month - 1, day);
    const canEdit = "{{ programacion_actual.estado }}" !== "CERRADO";
    console.log(fecha);

    let empleados = {};
    let empleadosDataMap = {};
    let lineas = {};
    let procesos = {};
    let centrosDeCosto = {};
    let usuarios = {};

    async function cargarCatalogos() {
      const [
        empleadosResponse,
        lineasResponse,
        procesoResponse,
        centrosResponse,
        usuariosResponse,
      ] = await Promise.all([
        fetch("/json/empleado/get_empleados"),
        fetch("/json/linea/get_lineas"),
        fetch("/json/proceso/get_procesos"),
        fetch("/json/centro_de_costo/get_centros_de_costo"),
        fetch("/json/usuario/get_usuarios"),
      ]);

      const empleadosData = await empleadosResponse.json();
      const lineasData = await lineasResponse.json();
      const procesosData = await procesoResponse.json();
      const centrosData = await centrosResponse.json();
      const usuariosData = await usuariosResponse.json();

      empleadosData.forEach((e) => {
        empleados[e.idEmpleado] =
          `${e.firstName} ${e.secondName ?? ""} ${e.lastName} ${e.lastName2 ?? ""}`;

        empleadosDataMap[e.idEmpleado] = e;
      });
      lineasData.forEach((l) => (lineas[l.idLinea] = l.nameLinea));
      procesosData.forEach((p) => (procesos[p.idProceso] = p.proceso));
      centrosData.forEach((c) => (centrosDeCosto[c.idCentro] = c.nombreCentro));
      usuariosData.forEach((u) => (usuarios[u.idUsuario] = u.nombre));
    }

    await cargarCatalogos();

    const table = new Tabulator("#tabla-registros", {
      theme: "site-dark",
      height: "500px",
      layout: "fitData",

      ajaxURL: `/json/registro/get_registros/${idProgramacion}`,
      ajaxConfig: "GET",

      columns: [
        /* { title: "ID", field: "idRegistro", width: 80 }, */
        {
          title: "Estado",
          field: "_saveStatus",
          hozAlign: "center",

          formatter: function (cell) {
            const value = cell.getValue();

            switch (value) {
              case "draft":
                return "🟡 Borrador";

              case "saving":
                return "💾 Guardando";

              case "saved":
                return "🟢 Guardado";

              case "editing":
                return "📝 Editando";

              case "error":
                return "🔴 Error";

              default:
                return "✅ Confirmado";
            }
          },
        },
        {
          title: "Guardar",
          hozAlign: "center",

          formatter: function () {
            if (!canEdit) {
              return "";
            }

            if (!tienePermiso("registro.editar")) {
              return "";
            }

            return `
              <button class="btn btn-success btn-sm">
                💾
              </button>
            `;
          },

          visible: tienePermiso("registro.editar") && canEdit ? true : false,

          cellClick: async function (e, cell) {
            const row = cell.getRow();
            const data = row.getData();

            // VALIDACIÓN
            if (
              !data.idEmpleado ||
              !data.hora_inicio ||
              !data.hora_fin ||
              !data.idLinea ||
              !data.idProceso
            ) {
              row.update({
                _saveStatus: "error",
              });
              alert("Complete los campos obligatorios");
              return;
            }

            if (!canEdit) return;

            row.update({
              _saveStatus: "saving",
            });

            try {
              let response;

              // CREATE
              if (data._isNew) {
                if (!data.idRegistro && !data._isNew) {
                  alert("Fila sin ID válido");
                  return;
                }
                response = await fetch("/json/registro/create_registro", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(data),
                });
              } else {
                // UPDATE
                response = await fetch(
                  `/json/registro/update_registro/${data.idRegistro}`,
                  {
                    method: "PUT",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                  },
                );
              }

              const resp = await response.json();
              refreshRowAndTotals(resp, row);

              if (resp.error) {
                row.update({
                  _saveStatus: "error",
                });
                throw new Error(resp.error);
              } else {
                await actualizarTotalesPorLinea();
                row.update({
                  ...resp,

                  _isNew: false,
                  _isDirty: false,
                  _saveStatus: "saved",
                });
              }

              recalcularTotales();
            } catch (error) {
              console.error(error);

              row.update({
                _saveStatus: "error",
              });

              // alert(error.message);
            }
          },
        },
        {
          title: "Fecha",
          field: "fecha",
          editor: false,
          visible: false,
        },
        {
          title: "ID empleado",
          field: "idEmpleado",
          editor: false,
          visible: true,
        },
        {
          title: "Badge",
          field: "badgeNumber",
          editor: false,
          visible: true,
        },
        {
          title: "Empleado",
          field: "idEmpleado",

          formatter: function (cell) {
            return (
              empleados[cell.getValue()] ||
              "<span style='color:gray'>Seleccione...</span>"
            );
          },

          // editor: canEdit && tienePermiso("registro.editar") ? "list" : false,
          editor: false,

          editorParams: {
            values: empleados,
            autocomplete: true,
            // clearable: true,
          },
        },
        {
          title: "Centro de costo",
          field: "idCentro",

          formatter: function (cell) {
            return centrosDeCosto[cell.getValue()] || "—";
          },

          editor: false,

          editorParams: {
            values: centrosDeCosto,
          },
        },
        {
          title: "Línea",
          field: "idLinea",

          formatter: function (cell) {
            return lineas[cell.getValue()] || "—";
          },

          editor: canEdit && tienePermiso("registro.editar") ? "list" : false,

          editorParams: {
            values: lineas,
            autocomplete: true,
          },
        },
        {
          title: "Proceso",
          field: "idProceso",

          formatter: function (cell) {
            return procesos[cell.getValue()] || "—";
          },

          editor: canEdit && tienePermiso("registro.editar") ? "list" : false,

          editorParams: {
            values: procesos,
            autocomplete: true,
          },
        },
        {
          title: "Hora Inicio",
          field: "hora_inicio",
          editor: canEdit && tienePermiso("registro.editar") ? "time" : false,
          // formatter: "datetime",
          formatterParams: {
            inputFormat: "HH:mm:ss",
            outputFormat: "HH:mm:ss",
          },

          editorParams: {
            format: "HH:mm:ss",
          },
        },
        {
          title: "Hora Fin",
          field: "hora_fin",
          editor: canEdit && tienePermiso("registro.editar") ? "time" : false,
          // formatter: "datetime",
          formatterParams: {
            inputFormat: "HH:mm:ss",
            outputFormat: "HH:mm",
          },

          editorParams: {
            format: "HH:mm:ss",
          },
        },
        {
          title: "Transporte",
          field: "aplica_transporte",
          hozAlign: "center",
          editor: canEdit && tienePermiso("registro.editar") ? true : false,
          formatter: "tickCross",
        },
        {
          title: "Dirección",
          field: "observacion_transporte",
          editor: "input",
        },
        {
          title: "Almuerzo",
          field: "aplica_almuerzo",
          hozAlign: "center",
          editor: false,
          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },
        },
        {
          title: "Cena sin costo",
          field: "aplica_cena",
          hozAlign: "center",
          editor: false,
          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },
        },
        {
          title: "Cena con costo",
          field: "cena_con_costo",
          hozAlign: "center",
          editor: false,
          formatter: function (cell) {
            return cell.getValue()
              ? "<span style='color:lime;'>&check;</span>"
              : "<span style='color:red;'>&cross;</span>";
          },
        },
        {
          title: "Última modificación",
          field: "ultima_modificacion",
          editor: false,
          formatter: "datetime",
          formatterParams: {
            inputFormat: "yyyy-MM-dd HH:mm:ss",
            outputFormat: "dd/MM/yyyy HH:mm",
          },
        },
        {
          title: "Usuario que modificó",
          field: "usuario_modificacion",
          editor: false,

          formatter: function (cell) {
            return usuarios[cell.getValue()] || "—";
          },

          editorParams: {
            values: usuarios,
          },
        },
        /* {
          title: "❌",
          hozAlign: "center",
          formatter: () => {
            if (!canEdit) {
              return "";
            }

            if (!tienePermiso("registro.editar")) {
              return "";
            }

            return "<button class='btn btn-danger'>&cross;</button>";
          },
          cellClick: function (e, cell) {
            let row = cell.getRow();
            let data = row.getData();

            if (!canEdit) return;
            if (!tienePermiso("registro.editar")) return;

            if (!data.idRegistro) {
              row.delete();
              return;
            }

            fetch(`/json/registro/delete_registro/${data.idRegistro}`, {
              method: "DELETE",
            })
              .then((res) => res.json())
              .then(() => row.delete());
          },
        }, */
      ],

      dataLoaded: function () {
        recalcularTotales();
      },

      rowAdded: function () {
        recalcularTotales();
      },

      rowDeleted: function () {
        recalcularTotales();
      },

      rowFormatter: function (row) {
        const el = row.getElement();
        el.classList.remove("red-row");
        el.classList.remove("green-row");
        el.classList.remove("yellow-row");

        const { idLinea, idProceso, hora_inicio, hora_fin, _saveStatus } =
          row.getData();

        if (row.getData()._saveStatus === "error") {
          el.classList.add("red-row");
        } else if (row.getData()._saveStatus === "editing") {
          el.classList.add("yellow-row");
        } else if (idLinea && idProceso && hora_inicio && hora_fin) {
          el.classList.add("green-row");
        }
      },
    });

    let updateTimeouts = {};

    table.on("dataChanged", recalcularTotales);

    table.on("cellEdited", async function (cell) {
      const row = cell.getRow();
      const data = row.getData();

      updateAlmuerzoOrCenaField(cell);
      updateIdEmpleadoAndBadgeField(cell);
      changeRowState(cell);

      recalcularTotales();

      const field = cell.getField();

      const id = data.idRegistro;

      if (!id) return;

      const el = row.getElement();
      el.classList.remove("red-row");
      el.classList.remove("green-row");
      el.classList.remove("yellow-row");

      if (row.getData()._saveStatus === "editing") {
        row.getElement().classList.add("yellow-row");
      } else if (row.getData()._saveStatus === "error") {
        row.getElement().classList.add("red-row");
      } else if (row.getData()._saveStatus === "saved") {
        row.getElement().classList.add("green-row");
      }

      await actualizarTotalesPorLinea();

      /* if (updateTimeouts[id]) {
        clearTimeout(updateTimeouts[id]);
      } */

      // Espera 800ms antes de guardar (debounce)
      /* updateTimeouts[id] = setTimeout(async () => {
        try {
          const response = await fetch(`/json/registro/update_registro/${id}`, {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          });
          const resp = await response.json();
          if (resp.error) {
            console.error(resp.error);
            return;
          }
        } catch (error) {
          console.error(error);
        }
      }, 800); */
    });

    table.on("tableBuilt", function () {
      setTimeout(() => {
        recalcularTotales();
      }, 0);
    });

    function refreshRowAndTotals(resp, row) {
      row.update(resp);

      // recalcular UI derivada
      recalcularTotales();
    }

    function recalcularTotales() {
      const data = table.getData();

      let almuerzos = 0;
      let cenas_sin_costo = 0;
      let cenas_con_costo = 0;

      data.forEach((row) => {
        if (row.aplica_almuerzo === true || row.aplica_almuerzo === 1) {
          almuerzos++;
        }

        if (row.aplica_cena === true || row.aplica_cena === 1) {
          cenas_sin_costo++;
        }

        if (row.cena_con_costo === true || row.cena_con_costo === 1) {
          cenas_con_costo++;
        }
      });

      document.querySelector(
        ".almuerzos-sin-costo-data__programacion",
      ).innerText = almuerzos;
      document.querySelector(".cena-sin-costo-data__programacion").innerText =
        cenas_sin_costo;
      document.querySelector(".cena-con-costo-data__programacion").innerText =
        cenas_con_costo;
    }

    async function updateAlmuerzoOrCenaField(cell) {
      const field = cell.getField();

      if (field === "hora_inicio" || field === "hora_fin") {
        recalcularTotales();
        /* const row = cell.getRow();
        const data = row.getData();

        if (!data.idRegistro) return;

        try {
          const response = await fetch(
            `/json/registro/update_registro/${data.idRegistro}`,
            {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            },
          );

          const resp = await response.json();
          refreshRowAndTotals(resp, row);

          row.update({
            aplica_almuerzo: resp.aplica_almuerzo,
            aplica_cena: resp.aplica_cena,
            cena_con_costo: resp.cena_con_costo,
          }); 

        } catch (error) {
          console.error(error);
        }*/
      }
    }

    function updateIdEmpleadoAndBadgeField(cell) {
      const field = cell.getField();

      if (field === "idEmpleado") {
        const row = cell.getRow();
        const data = row.getData();

        const empleado = empleadosDataMap[data.idEmpleado];

        if (!empleado) return;

        row.update({
          idEmpleado: empleado.idEmpleado,
          badgeNumber: empleado.badgeNumber,
          idCentro: empleado.idCentro,
        });

        row.reformat();
        // console.log(data);
      }
    }

    function changeRowState(cell) {
      const row = cell.getRow();
      const data = row.getData();

      data._isDirty = true;

      if (data._saveStatus !== "saving") {
        row.update({
          _saveStatus: data._isNew ? "draft" : "editing",
        });
      }
    }

    document
      .getElementById("reactivity-add")
      .addEventListener("click", function () {
        // console.log(!tienePermiso("registro.crear"));
        // console.log(tienePermiso("registro.crear"));

        if (!tienePermiso("registro.crear")) {
          alert("No tiene permisos para esta acción.");
          return;
        }

        table.addRow(
          {
            _isNew: true,
            _isDirty: false,
            _saveStatus: "draft",

            fecha: fecha.toISOString().slice(0, 10),
            idProgramacion: idProgramacion,

            // idEmpleado: "",
            // badgeNumber: "",
            // idCentro: "",

            // hora_inicio: "00:00:00",
            // hora_fin: "00:00:00",

            // idLinea: "",
            // idProceso: "",

            // aplica_almuerzo: false,
            // aplica_cena: false,
            // aplica_transporte: false,

            // observacion_transporte: "",
          },
          false,
        );
      });

    document
      .getElementById("descargar-pdf")
      .addEventListener("click", function () {
        table.download("pdf", "reporte.pdf", {
          orientation: "portrait",
          title: "Reporte",
        });
      });
  })();

  async function descargarExcel(idProgramacion) {
    window.open(
      `/json/reports/programacion/descargar_programacion/${idProgramacion}/isPDF=${0}`,
    );
  }

  async function descargarPDF(idProgramacion) {
    window.open(
      `/json/reports/programacion/descargar_programacion/${idProgramacion}/isPDF=${1}`,
    );
  }

  function tienePermiso(permiso) {
    return window.USER_CONTEXT.permisos.includes(permiso);
  }

  function puedeVerDepartamento(idDepartment) {
    if (window.USER_CONTEXT.scopeGlobal) {
      return true;
    }

    return window.USER_CONTEXT.departamentos.some(
      (d) => d.idDepartment === idDepartment,
    );
  }

  const tableTotales = new Tabulator("#tabla-totales", {
    theme: "site-dark",
    height: "140px",
    layout: "fitColumns",

    ajaxURL: `/json/programacion/get_counts_by_line/${idProgramacion}`,
    ajaxConfig: "GET",

    columns: [
      {
        title: "ID",
        field: "idLinea",
        editor: false,
      },
      {
        title: "Línea",
        field: "nameLinea",
        editor: false,
      },
      {
        title: "Mínimo Requerido",
        field: "minimo_requerido",
        editor: false,
      },
      {
        title: "Total actual",
        field: "total_linea",
        editor: false,
      },
      {
        title: "Diferencia",
        field: "diferencia",
        editor: false,
      },
    ],
    rowFormatter: function (row) {
      const el = row.getElement();
      el.classList.remove("red-row");
      el.classList.remove("green-row");
      el.classList.remove("yellow-row");

      if (row.getData().diferencia > 0) {
        row.getElement().classList.add("red-row");
      } else if (row.getData().diferencia == 0) {
        row.getElement().classList.add("green-row");
      } else if (row.getData().diferencia < 0) {
        row.getElement().classList.add("yellow-row");
      }
    },
  });

  let updatingTotals = false;

  async function actualizarTotalesPorLinea() {
    if (updatingTotals) return;

    updatingTotals = true;

    try {
      await tableTotales.replaceData(
        `/json/programacion/get_counts_by_line/${idProgramacion}`,
      );
      await tableConfirmacion.replaceData(
        `/json/programacion/get_counts_by_line/${idProgramacion}`,
      );
    } catch (error) {
      console.error(error);
    } finally {
      updatingTotals = false;
    }
  }

  document
    .querySelector(".card-tabla-totales")
    .addEventListener("mouseenter", function () {
      tableTotales.setHeight("350px");
      tableTotales.redraw(true);
    });

  document
    .querySelector(".card-tabla-totales")
    .addEventListener("mouseleave", function () {
      tableTotales.setHeight("140px");
      tableTotales.redraw(true);
    });

  const tableConfirmacion = new Tabulator("#tabla-confirmacion", {
    theme: "site-dark",
    height: "fitData",
    layout: "fitColumns",

    ajaxURL: `/json/programacion/get_counts_by_line/${idProgramacion}`,
    ajaxConfig: "GET",

    columns: [
      {
        title: "ID",
        field: "idLinea",
        editor: false,
      },
      {
        title: "Línea",
        field: "nameLinea",
        editor: false,
      },
      {
        title: "Mínimo Requerido",
        field: "minimo_requerido",
        editor: false,
      },
      {
        title: "Total actual",
        field: "total_linea",
        editor: false,
      },
      {
        title: "Diferencia",
        field: "diferencia",
        editor: false,
      },
    ],
    rowFormatter: function (row) {
      const el = row.getElement();
      el.classList.remove("red-row");

      if (row.getData().diferencia > 0) {
        row.getElement().classList.add("red-row");
      } else if (row.getData().diferencia == 0) {
        row.getElement().classList.add("green-row");
      } else if (row.getData().diferencia < 0) {
        row.getElement().classList.add("yellow-row");
      }
    },
  });
</script>

{% endblock %}
