{% extends "layout/base.html" %} {% block title %} Programaciones - Turnos Bonin
{% endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Programaciones</h3>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-programaciones"></div>

    <!-- Create Modal -->
    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      aria-labelledby="createModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel"></h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% include "permiso/formCrearPermiso.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %} {% include "layout/includes/tabulator.html" %} {% endblock
%}
<script>
  (async function () {
    cargarTableProgramaciones();
  })();

  function cargarTableProgramaciones() {
    const tableProgramaciones = new Tabulator("#tabla-programaciones", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitData",

      ajaxURL: "/json/programacion/get_programaciones_details",
      ajaxConfig: "GET",

      columns: [
        {
          title: "ID",
          field: "idProgramacion",
          hozAlign: "center",
          editor: false,
          headerFilter: "input",
        },
        {
          title: "Fecha",
          field: "fecha",
          editor: false,
          headerFilter: "input",
        },
        {
          title: "Departamento",
          field: "departamento",
          editor: false,

          // widthGrow: 3,
          headerFilter: "input",
        },
        {
          title: "Elaborado por",
          field: "elaborado_por",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Fecha de creación",
          field: "fecha_creacion",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Estado",
          field: "estado",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Fecha de cierre",
          field: "fecha_cierre",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Cerrado por",
          field: "cerrado_por",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Fecha reapertura",
          field: "fecha_reapertura",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Reabierto por",
          field: "reabierto_por",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Motivo de reapertura",
          field: "motivo_reapertura",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Verificado por",
          field: "verificado_por",
          editor: false,

          headerFilter: "input",
        },
        {
          title: "Acciones",
          hozAlign: "center",

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <div class="d-flex gap-3 justify-content-center">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#reOpenModal${data.idProgramacion}"
                >
                  <img
                    src="/static/img/reopen-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Reabrir</strong>
                </button>
                <a
                  href="/template/programacion/editarProgramacion/${data.idDepartment}/${data.fecha}"
                  class="btn btn-primary"
                >
                  <img
                    src="/static/img/ruta-icon.png"
                    height="15px"
                    width="15px"
                  />
                  <strong>Ir a detalles</strong>
                </a>
              </div>
              `;
          },
        },
      ],
    });
  }
</script>

{% endblock %}
