<!-- TABULATOR -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='libs/tabulator/tabulator.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='libs/tabulator/tabulator_bootstrap5.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='libs/tabulator/tabulator_site_dark.min.css') }}"
/>

<script src="{{ url_for('static', filename='libs/tabulator/tabulator.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/luxon/luxon.min.js') }}"></script>
