{% extends "layout/base.html" %} {% block title %} Departamentos - Turnos Bonin
{% endblock %} {% block content %}

<div class="card card-outline-secondary bg-dark text-light">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3>Departamentos</h3>
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#createModal"
      >
        <i class="bi bi-plus-circle"></i>
        <strong>Crear</strong>
      </button>
    </div>
    <hr />

    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <strong>{{ message }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endwith %}

    <div id="tabla-departamentos"></div>
    <!-- Create Modal -->
    <div
      class="modal fade"
      id="createModal"
      tabindex="-1"
      aria-labelledby="createModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createModalLabel"></h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {% include "departamento/formCrearDepartamento.html" %}
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal Reutilizable -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/web/departamento/editarDepartamento_web" method="POST">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">
                Editar Departamento
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <input
                type="hidden"
                id="modal-idDepartment"
                name="idDepartment"
              />

              <div class="mb-3">
                <label>Nombre del departamento</label>
                <input
                  type="text"
                  class="form-control"
                  id="modal-name"
                  name="name"
                  required
                />
              </div>

              <div class="mb-3">
                <label>Nombre del departamento</label>
                <input
                  type="text"
                  class="form-control"
                  data-coloris
                  id="modal-dept_color"
                  name="dept_color"
                />
              </div>

              <div class="mb-3 form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="modal-aplica_horas_extra"
                  role="switch"
                  name="aplica_horas_extra"
                />
                <label class="form-check-label" for="modal-aplica_horas_extra"
                  >Aplica a horas extra</label
                >
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal Reutilizable -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <form
            action="/web/departamento/eliminarDepartamento_web"
            method="POST"
          >
            <div class="modal-header">
              <h5 class="modal-title">Eliminar Departamento</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <input
                type="hidden"
                id="delete-idDepartment"
                name="idDepartment"
              />

              <p id="delete-mensaje"></p>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% block scripts %} {% include "layout/includes/tabulator.html" %} {% include
"layout/includes/coloris.html" %} {% endblock %}
<script>
  let departamentos = {};
  async function cargarCatalogos() {
    const [departamentosResponse] = await Promise.all([
      fetch("/json/departamento/get_departamentos_aplica_horas_extra"),
    ]);

    const departamentosData = await departamentosResponse.json();

    departamentosData.forEach((d) => {
      departamentos[d.idDepartment] = {
        name: d.name,
        dept_color: d.dept_color,
      };
    });
  }

  function colocarColoresEnBadges() {
    document.querySelectorAll(".badge").forEach((d) => {
      const idDepartment = d.dataset.idDepartment;

      d.style.backgroundColor = departamentos[idDepartment]?.dept_color;
    });
  }

  function cargarTableDepartamentos() {
    const tableDepartamentos = new Tabulator("#tabla-departamentos", {
      theme: "site-dark",
      height: "calc(85vh - 86px)",
      layout: "fitColumns",

      ajaxURL: `/json/departamento/get_departamentos`,
      ajaxConfig: "GET",

      columns: [
        {
          title: "Editar",
          hozAlign: "center",
          editor: false,
          width: 102,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Editar departamento"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                data-id="${data.idDepartment}"
                data-name="${data.name}"
                data-dept_color="${data.dept_color ? data.dept_color : ""}"
                data-aplica_horas_extra="${data.aplica_horas_extra}"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            `;
          },
        },
        {
          title: "ID",
          field: "idDepartment",
          editor: false,
          width: 60,
          headerFilter: "number",

          headerFilterFunc: function (filterValue, cellValue) {
            return String(cellValue || "")
              .toLowerCase()
              .includes(String(filterValue.toLowerCase()));
          },
        },
        {
          title: "Nombre",
          field: "name",
          editor: false,
          headerFilter: "input",

          headerFilterFunc: function (filterValue, cellValue) {
            return (cellValue || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Aplica para horas extra",
          field: "aplica_horas_extra",
          hozAlign: "center",
          editor: false,
          width: 195,
          headerFilter: "list",
          headerFilterParams: {
            values: {
              "": "Todos",
              1: "Sí",
              0: "No",
            },
          },

          formatter: function (cell) {
            return cell.getValue() ? "Sí" : "No";
          },
        },
        {
          title: "Color",
          field: "dept_color",
          editor: false,
          hozAlign: "center",
          width: 200,
          headerFilter: "input",

          formatter: function (cell) {
            const el = cell.getElement();
            const data = cell.getRow().getData();

            el.style.backgroundColor = data.dept_color;

            return data.dept_color
              ? `
                <strong>
                  ${data.dept_color}
                </strong>
              `
              : "";
          },

          headerFilterFunc: function (filterValue, cellValue) {
            return (cellValue || "")
              .toLowerCase()
              .includes(filterValue.toLowerCase());
          },
        },
        {
          title: "Eliminar",
          hozAlign: "center",
          width: 97,

          formatter: function (cell) {
            const data = cell.getRow().getData();

            return `
              <button
                type="button"
                title="Eliminar departamento"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                data-id="${data.idDepartment}"
                data-name="${data.name}"
              >
                <i class="bi bi-trash3"></i>
              </button>
              `;
          },
        },
      ],
    });
  }

  (async function () {
    await cargarCatalogos();
    colocarColoresEnBadges();
    cargarTableDepartamentos();
  })();

  // Coloris({
  //   parent: ".modal",
  //   theme: "pill",
  //   themeMode: "dark",
  // });

  /* EDIT MODAL */
  const editModal = document.getElementById("editModal");

  editModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.body.focus();

    document.getElementById("modal-idDepartment").value = button.dataset.id;

    document.getElementById("modal-name").value = button.dataset.name;

    document.getElementById("modal-dept_color").value =
      button.dataset.dept_color;

    const checkboxActivo = document.getElementById("modal-aplica_horas_extra");
    if (button.dataset.aplica_horas_extra === "1") {
      checkboxActivo.value = 1;
      checkboxActivo.checked = true;
    } else {
      checkboxActivo.value = 0;
      checkboxActivo.checked = false;
    }
  });

  /* DELETE MODAL */
  const deleteModal = document.getElementById("deleteModal");

  deleteModal.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;

    document.getElementById("delete-idDepartment").value = button.dataset.id;

    document.getElementById("delete-mensaje").textContent =
      `¿Seguro que desea eliminar el departamento: ${button.dataset.name}?`;
  });
</script>

{% endblock %}
